{% set nb_img = 3 %}
{% set nb_imgurl = 3 %}
{% for module in collection.modules if (module.deleting != true and module.wsonly != true) %}
	{% set imgs = [] %}
	{% for tmp_mod_key, tmp_mod in images if imgs|length < nb_img %}
		{% if tmp_mod_key == module.id %}
			{% for image in tmp_mod if imgs|length < nb_img %}
				{% set imgspe = image.path|basename %}
				{% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
				{% if img|fileexists %}
					{% set imgs = imgs|merge([image]) %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	<!-- pour les images locales distantes -->
	{% set imgsurl = [] %}
	{% for tmp_mod_key, tmp_mod in imagesurl if imgsurl|length < nb_img %}
		{% if tmp_mod_key == module.id %}
			{% for image in tmp_mod if imgsurl|length < nb_img %}
				{% set imgsurl = imgsurl|merge([image]) %}
			{% endfor %}
		{% endif %}
	{% endfor %}



	<h2>
		<a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
			{{ module.name }}
		</a>
		{% if module.nbrows > 0 %}
			<span class="badge pop-tooltip" data-toggle="tooltip" title="{{ module.nbrows }} {{ "line-entities"|trans }}">
				<i class="icon-list"></i>
				{{ module.nbrows }}
			</span>
		{% endif %}
	</h2>
	<div class="row">
		<div class="span9">
			<div class="well">
				<div class="media">
					{% if imgs|length > 0 %}
						<div class="pull-left">
							<div id="carousel_{{ module.id }}" class="carousel slide img-polaroid">
								<ol class="carousel-indicators">
									{% for image in imgs %}
										<li data-target="#carousel_{{ module.id }}" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
									{% endfor %}
								</ol>
								<div class="carousel-inner">
									{% for image in imgs %}
										{% set imgspe = image.path|basename %}
										{% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
										<div class="{% if loop.index0 == 0 %}active {% endif %}item">
											<img src="{{ asset(img) | imagine_filter('thumb_370_210') }}" alt="{{ image.copyright }}" width="370" />
											<div class="carousel-caption">
												<p>{{ image.title1 }} {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} {{ image.title3 }}{% endif %}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if imgsurl|length > 0 %}
						<div class="pull-left">
							<div id="carouselurl_{{ collection.id }}" class="carousel slide img-polaroid">
								<ol class="carousel-indicators">
									{% for image in imgsurl %}
										<li data-target="#carouselurl_{{ collection.id }}" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
									{% endfor %}
								</ol>
								<div class="carousel-inner">
									{% for image in imgsurl %}
										{% set img = image.path %}
										<div class="{% if loop.index0 == 0 %}active {% endif %}item">
											<img src="/geturlimage.php?src={{ asset(img) |url_encode }}&coll={{ imgurl_coll|url_encode }}&mod={{ imgurl_mod|url_encode }}&ssmod={{ imgurl_ssmod|url_encode }}&width=370&height=210" alt="{{ image.copyright }}" border="5px" />
											<div class="carousel-caption">
												<p>{{ image.title1 }} {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} {{ image.title3 }}{% endif %}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					<div class="media-body txt">
						{% autoescape false %}
	                    	{{ module.description }}
	                	{% endautoescape %}
	                	<a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}" class="btn btn-small pull-right">
	                		{{ "line-details"|trans|capitalize }}
	                	</a>
					</div>
				</div>

			</div>
		</div>
		<div class="span3">
			{% for child in module.children if (child.type == 'image' and child.deleting != true and child.wsonly != true) %}
				<a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}" class="btn btn-small btn-block">
					{{ child.name }}
					{% if child.nbrows > 0 %}
						<span class="muted">{{ child.nbrows }}</span>
						<i class="icon-camera"></i>
					{% endif %}
				</a>
			{% endfor %}

			{% for child in module.children if (child.type == 'imageurl' and child.deleting != true and child.wsonly != true) %}
				<a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}" class="btn btn-small btn-block">
					{{ child.name }}
					{% if child.nbrows > 0 %}
						<span class="muted">{{ child.nbrows }}</span>
						<i class="icon-camera"></i>
					{% endif %}
				</a>
			{% endfor %}

			{% for child in module.children if (child.type == 'locality' and child.deleting != true and child.wsonly != true) %}
				<a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}" class="btn btn-small btn-block">
					{{ child.name }}
					{% if child.nbrows > 0 %}
						<span class="muted">{{ child.nbrows }}</span>
						<i class="icon-map-marker"></i>
					{% endif %}
				</a>
			{% endfor %}
			{% if module.taxonomy == true %}
				<a href="{{ path('front_module_taxo', { 'project': project, 'collection': collection.url, 'module': module.url }) }}" class="btn btn-small btn-block">
					{{ "line-taxonomy"|trans|capitalize }}
					<i class="icon-tasks"></i>
				</a>
			{% endif %}
			<a href="{{ path('front_module_search', { 'project': project, 'collection': collection.url, 'module': module.url }) }}" class="btn btn-small btn-block">
				{{ "tab-search"|trans|capitalize }}
				<i class="icon-search"></i>
			</a>
			{% if collection.glossary is not empty %}
				<a href="{{ path('front_glossary', { 'project': project, 'collection': collection.url }) }}" class="btn btn-small btn-block">
					{{ "line-glossary"|trans|capitalize }}
				</a>
			{% endif %}
		</div>
	</div>
{% endfor %}