{% extends "PlantnetDataBundle:Backend:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        div.form{
            max-width:300px;
            padding:19px 29px 29px;
            margin:20px auto 20px;
            background-color:#fff;
            border:1px solid #e5e5e5;
            -webkit-border-radius:5px;
               -moz-border-radius:5px;
                    border-radius:5px;
            -webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);
               -moz-box-shadow:0 1px 2px rgba(0,0,0,.05);
                    box-shadow:0 1px 2px rgba(0,0,0,.05);
        }
        form{
            margin-bottom:0px;
        }
        label{
            cursor:default;
        }
        label.label-inline{
            display:inline-block;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"]{
            font-size:16px;
            height:auto;
            margin-bottom:15px;
            padding:7px 9px;
        }
        input[type="checkbox"]{
            margin-top:0;
        }
        div.error{
            color:#B94A48;
            font-weight:bold;
            margin-bottom:10px;
        }
    </style>
{% endblock %}
{% block body %}
    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {#% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %#}
    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
    <div class="form">
        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}