{% extends "PlantnetDataBundle:Backend:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        div.form{
            max-width:300px;
            padding:19px 29px 29px;
            margin:20px auto 20px;
            background-color:#fff;
            border:1px solid #e5e5e5;
            -webkit-border-radius:5px;
               -moz-border-radius:5px;
                    border-radius:5px;
            -webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);
               -moz-box-shadow:0 1px 2px rgba(0,0,0,.05);
                    box-shadow:0 1px 2px rgba(0,0,0,.05);
        }
        form{
            margin-bottom:0px;
        }
        label{
            cursor:default;
        }
        label.label-inline{
            display:inline-block;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"]{
            font-size:16px;
            height:auto;
            margin-bottom:15px;
            padding:7px 9px;
        }
        input[type="checkbox"]{
            margin-top:0;
        }
        div.error{
            color:#B94A48;
            font-weight:bold;
            margin-bottom:10px;
        }
        a.forgot{
            display:inline-block;
            margin-left:40px;
        }
    </style>
{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {#% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %#}
    <div class="form">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            if($('#chk_super input:checkbox').length>0){
                $('#chk_super input:checkbox').first().change(function(){
                    if($(this).attr('checked')=='checked'){
                        $('#chk_super_hidden').hide();
                    }
                    else{
                        $('#chk_super_hidden').show();
                    }
                });
            }
        });
    </script>
{% endblock %}