{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title collection.name %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li class="active">
			{{ collection.name }}
		</li>
	</ul>
	<div>
		{% if (collection.description is defined) and (collection.description is not empty) %}
			<dl>
				<dt class="text-info">
					Description :
				</dt>
				<dd>
					{% autoescape false %}
						{{ collection.description }}
					{% endautoescape %}
				</dd>
			</dl>
		{% endif %}
		<dl>
			<dt class="text-info">
				Content :
			</dt>
			<dd>
				<ul>
					{% for module in collection.modules %}
						<li>
							{{ module.name }} - [ Module ~ {{ module.nbrows }} rows ]
							{% if module.children|length > 0 %}
								<ul>
									{% for child in module.children %}
										<li>
											{{ child.name }} - [ Sub-module : {{ child.type }} ~ {{ child.nbrows }} rows  ]
										</li>
									{% endfor %}
								</ul>
							{% endif %}
							<ul>
								{% if module.parent is not null %}
									<li>Under {{ module.parent.name }}</li>
								{% endif %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</dd>
		</dl>
	</div>
{% endblock %}