{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title collection.name %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/tablesorter/style.css') }}" type="text/css" />
{% endblock %}
{% block body %}
	<section id="breadcrumbs">
		<a href="{{ path('admin_collection_view', { 'collection': collection.name }) }}">{{ collection.name }}</a>
	</section>
	<div>
		{% if (collection.description is defined) and (collection.description is not empty) %}
			<p>
				Description :
				<br>
				{% autoescape false %}
					{{ collection.description }}
				{% endautoescape %}
			</p>
		{% endif %}
		<br />
		<ul>
			{% for module in collection.modules %}
				{% if module.type == 'text' %}
					<li>
						{{ module.name }} - [ Module ]
						{% if module.children|length > 0 %}
							<ul>
								{% for child in module.children %}
									<li>
										{{ child.name }} - [ Sub-module : {{ child.type }} ]
									</li>
								{% endfor %}
							</ul>
						{% endif %}
						<ul>
							{% if module.parent is not null %}
								<li>Under {{ module.parent.name }}</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}