{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <section id="breadcrumbs">
        <a href="{{ path('admin_collection_view', { 'collection': collection.name }) }}">{{ collection.name }}</a>
        >
        <a href="{{ path('admin_module_view', { 'collection': collection.name, 'module': module.name }) }}">{{ module.name }}</a>
    </section>
    <div id="results">
        {% if paginator|length > 0 %}
            <div class="pagerfanta">
                {{ pagerfanta(paginator, 'default') }}
            </div>
            <table align='center' cellpadding="3" class="tablesorter searchresults" id="simplesearch">
                <thead>
                    <tr class="rowtop">
                        {% for property in module.properties if property.id in display %}
                            <th>{{ property.name|capitalize }}</th>
                        {% endfor %}
                        <th>Images</th>
                        <th>Locations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plantunit in paginator %}
                        <tr class="">
                            {% for field in display %}
                                <td>{{ plantunit.attributes[field] }}</td>
                            {% endfor %}
                            <td>
                                {{ plantunit.images|length }}
                            </td>
                             <td>
                                {{ plantunit.locations|length }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("table").tablesorter({widthFixed: false, widgets: ['zebra'] });
            //  Adds "over" class to rows on mouseover
            $("table tr").mouseover(function(){
                $(this).addClass("over");
            });
            //  Removes "over" class from rows on mouseout
            $("table tr").mouseout(function(){
                $(this).removeClass("over");
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.pagerfanta a').click(function(e) {
                e.preventDefault();
                var $url = $(this).attr('href');
                $(this).prev().append('<div class="page-loading"></div>');
                $.get($url, function(data) {
                    $('#content').html(data);
                });
            });
        });
    </script>
{% endblock %}