{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<ul class="breadcrumb">
        <li>
            <a href="{{ path('admin_collection_view', { 'collection': collection.url }) }}">
            	{{ collection.name }}
            </a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_module_view', { 'collection': collection.url, 'module': module_parent.url }) }}">
            	{{ module_parent.name }}
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ module.name }}
        </li>
    </ul>
	<div id="thumbsresults">
		{% if paginator|length > 0 %}
			<div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap') }}
            </div>
			{% for row in paginator %}
				{% set imgspe = row.path|basename %}
				{% set img = ['uploads/'~module.uploaddir~'/', imgspe]|join('') %}
				<a href="{{ asset(img) }}" class="grouped_elements" rel="group" title="{{ row.copyright }}">
					<img src="{{ asset(img) | imagine_filter('thumb_100_100') }}" alt="{{ imgspe }}" border="0" />
				</a>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$("a.grouped_elements").fancybox({
				'transitionIn':'elastic',
				'transitionOut':'elastic',
				'speedIn':200,
				'speedOut':200,
				'enableEscapeButton':true,
				'hideOnContentClick':true,
				'titlePosition':'inside',
				'overlayShow':true
			});
		});
		$(document).ready(function() {
			$('.pagerfanta a').click(function(e) {
                e.preventDefault();
                var $url=$(this).attr('href');
                $('#content').prepend('<div class="page-loading"></div>');
                $.get($url, function(data) {
                    $('#content').html(data);
                });
            });
        });
	</script>
{% endblock %}