{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
{% endblock %}
{% block body %}
	<section id="breadcrumbs">
		<a href="{{ path('admin_collection_view', { 'collection': collection.name }) }}">{{ collection.name }}</a>
		>
		<a href="{{ path('admin_module_view', { 'collection': collection.name, 'module': module.name }) }}">{{ module.name }}</a>
	</section>
	<div id="thumbsresults">
		{% if paginator|length > 0 %}
			<div class="pagerfanta">
				{{ pagerfanta(paginator, 'default') }}
			</div>
			{% for row in paginator %}
				{% if row.images is defined %}
					{% for Data in row.images %}
						{% if Data.path is defined %}
							{% set imgspe = Data.path|basename %}
							{% set img = ['bundles/plantnetdata/data_images/img/', imgspe]|join('') %}
							<a href="{{ asset(img) }}~1000x1000&copyright=Plantnet" class="grouped_elements" rel="group">
								<img src="{{ asset(img)}}~200x200" alt="{{ imgspe }}" border="0"/></a>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.easing-1.3.pack.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			// $("a#single_image").fancybox();
			/* Apply fancybox to multiple items */
			$("a.grouped_elements").fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	200,
				'speedOut'		:	200,
				'enableEscapeButton'    :true,
				'hideOnContentClick'    : true,
				'titlePosition'         : 'inside',
				'overlayShow'	:	false
			});
		});
	</script>
{% endblock %}