{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}



{% block head %}

    {% block stylesheets %}
        {{ parent() }}
        {{ vichgeo_include_css() }}
	{% endblock %}
<title>{% block title module.Name%}</title>
    {{ vichgeo_include_js() }}
{#<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/MarkerClusterer-1.0/src/markerclusterer.js') }}"></script>

    <script type="text/javascript">
      function initialize() {
        var markerCluster = new MarkerClusterer(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>#}
{% endblock %}
{% block body %}
<section id="breadcrumbs">

    <a href="{{ path('_collection', { 'collection': collection.Name }) }}">{{ collection.Name }}</a>
    >>
    <a href="{{ path('_module', { 'collection': collection.Name, 'module': module.Name }) }}">{{ module.Name }}</a>
</section>

{{ vichgeo_map_for('location', location) }}

 {% endblock %}

  {% block javascripts %}
  {{ parent() }}

  {% endblock %}