{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<ul class="breadcrumb">
        <li>
            <a href="{{ path('admin_collection_view', { 'collection': collection.name }) }}">
            	{{ collection.name }}
            </a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_module_view', { 'collection': collection.name, 'module': module_parent.name }) }}">
            	{{ module_parent.name }}
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ module.name }}
        </li>
    </ul>
	<div id="results">
		{% if paginator|length > 0 %}
			<div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap') }}
            </div>
            <table class="table table-striped table-bordered table-hover table-condensed">
            	{% for property in module.properties if property.id in display %}
					<th>{{ property.name }}</th>
            	{% endfor %}
				{% for row in paginator %}
					<tr>
                        {% for field in display %}
                            <td>{{ row.property[field] }}</td>
                        {% endfor %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
            $('.pagerfanta a').click(function(e) {
                e.preventDefault();
                var $url=$(this).attr('href');
                $('#content').prepend('<div class="page-loading"></div>');
                $.get($url, function(data) {
                    $('#content').html(data);
                });
            });
        });
	</script>
{% endblock %}