{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Page {{ page.name|capitalize }}</em> > Edit
		</h4>
	</div>
	<form action="{{ path('page_update', { 'alias': page.alias }) }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form">
			{{ form_label(edit_form.name) }}
			{{ form_errors(edit_form.name) }}
			{{ form_widget(edit_form.name) }}
		</div>
		<div class="field-form">
			{{ form_label(edit_form.content) }}
			{{ form_errors(edit_form.content) }}
			{{ form_widget(edit_form.content, { 'attr': {'class': 'textarea'} }) }}
		</div>
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			{% include "PlantnetDataBundle:Backend\\WYSIWYG:cleditor.html.twig" %}
		});
	</script>
{% endblock %}