{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title collection.name|capitalize ~ ' - ' ~ module.name|capitalize %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div class="description">
        {% autoescape false %}
            {{ module.description }}
        {% endautoescape %}
    </div>
    <div class="results">
        {% if paginator|length > 0 %}
            <div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
            </div>
             <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        {% for row in display %}
                            <th>{{ row|capitalize }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for plantunit in paginator %}
                        <tr class="" onmouseover="this.style.cursor='pointer'" onclick="document.location='{{ path('_details', { 'project': project, 'collection': collection.name, 'module': module.name, 'id': plantunit.id }) }}'">
                            <td>
                                {% set img = false %}
                                {% set loc = false %}
                                {% for child in plantunit.module.children if img == false or loc == false %}
                                    {% if child.type == 'image' and child.nbrows > 0 %}
                                        {% set img = true %}
                                    {% endif %}
                                    {% if child.type == 'locality' and child.nbrows > 0 %}
                                        {% set loc = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if img %}
                                    <i class="icon-camera"></i>
                                {% endif %}
                                {% if loc %}
                                    <i class="icon-map-marker"></i>
                                {% endif %}
                            </td>
                            {% for field in display %}
                                <td>{{ plantunit.attributes[field] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}