{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title collection.name|capitalize ~ ' - ' ~ module.name|capitalize %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module_parent } %}
{% endblock %}
{% block main %}
	<div class="results">
		{% if paginator|length > 0 %}
			<div class="pagerfanta">
				{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
			</div>
			<div class="gallery">
				<ul class="thumbnails per3">
					{% for image in paginator %}
						{% set imgspe = image.path|basename %}
						{% set img = ['uploads/'~module.uploaddir~'/', imgspe]|join('') %}
						<li class="span3">
							<div class="thumbnail">
								<a href="{{ asset(img) }}" class="grouped_elements thumbn" rel="group">
									<img src="{{ asset(img) | imagine_filter('thumb_180_120') }}" class="img-polaroid" alt="<strong>{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}</strong><br />{{ image.copyright }}" />
								</a>
								<h5>
									{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}
								</h5>
								{% if image.copyright is not empty %}
									<p>
										{{ image.copyright }}
									</p>
								{% endif %}
								<div class="access">
									<a href="{{ path('_details', { 'project': project, 'collection': collection.name, 'module': image.plantunit.module.name, 'id': image.plantunit.id }) }}">
										<i class="icon-list"></i>
									</a>
									<a class="html-box" href="#data_{{ image.id }}">
										<i class="icon-eye-open"></i>
									</a>
									<div style="display:none">
										<div id="data_{{ image.id }}">
											{{ image.id }}
										</div>
									</div>
								</div>
						</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="pagerfanta">
				{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			/* Apply fancybox to multiple items */
			$('a.grouped_elements').fancybox({
				'transitionIn':'elastic',
				'transitionOut':'elastic',
				'speedIn':200,
				'speedOut':200,
				'enableEscapeButton':true,
				'hideOnContentClick':true,
				'titlePosition':'inside',
				'overlayShow':true,
				'titleFromAlt':true
			});
			$('a.html-box').fancybox();
			$('.gallery img').addClass('blind');
			$('.gallery img').one('load',function(){
				var img=$(this);
				img.fadeTo(200,1);
			}).each(function(){
				if(this.complete)
				{
					$(this).load();
				}
			});
		});
	</script>
{% endblock %}