{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title collection.name|capitalize ~ ' - ' ~ module.name|capitalize %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module_parent } %}
{% endblock %}
{% block main %}
	<div class="results">
		{% if paginator|length > 0 %}
			<div class="pagerfanta">
				{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
			</div>
			<div class="gallery">
				<ul class="thumbnails per3">
					{% for image in paginator %}
						{% set imgspe = image.path|basename %}
						{% set img = ['uploads/'~module.uploaddir~'/', imgspe]|join('') %}
						<li class="span3">
							{% set content = '' %}
							{% for field in display %}
								{% set content = content ~ '<strong>' ~ field ~ '</strong> : ' ~ image.plantunit.attributes[field] ~ '<br />' %}
							{% endfor %}
							<div class="thumbnail" data-title="<strong>{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}" data-content="{{ content }}</strong>">
								<a href="{{ asset(img) }}" class="grouped_elements thumbn" rel="group">
									<img src="{{ asset(img) | imagine_filter('thumb_180_120') }}" class="img-polaroid" alt="<strong>{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}</strong><br />{{ image.copyright }}" />
								</a>
								<h5>
									{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}
								</h5>
								{% if image.copyright is not empty %}
									<p>
										{{ image.copyright }}
									</p>
								{% endif %}
								<div class="access">
									<a href="{{ path('_details', { 'project': project, 'collection': collection.name, 'module': image.plantunit.module.name, 'id': image.plantunit.id }) }}">
										<i class="icon-list"></i>
									</a>
									<a class="html-box" href="#data_{{ image.id }}">
										<i class="icon-eye-open"></i>
									</a>
									<div style="display:none">
										<div id="data_{{ image.id }}" data-src="{{ asset(img) }}">
											<div id="v_data_{{ image.id }}" class="viewer"></div>
											<div class="control-panel">
												<div class="btn-group">
													<a id="v_data_{{ image.id }}_in" href="#" class="btn">
														<i class="icon-plus-sign"></i>
													</a>
													<a id="v_data_{{ image.id }}_out" href="#" class="btn">
														<i class="icon-minus-sign"></i>
													</a>
													<a id="v_data_{{ image.id }}_orig" href="#" class="btn">
														<i class="icon-fullscreen"></i>
													</a>
													<a id="v_data_{{ image.id }}_fit" href="#" class="btn">
														<i class="icon-screenshot"></i>
													</a>
													<a id="v_data_{{ image.id }}_right" href="#" class="btn">
														<i class="icon-retweet"></i>
													</a>
												</div>
												<div class="input-append">
													<input type="text" id="v_data_{{ image.id }}_percent" value="100" class="input-mini uneditable-input" readonly="readonly" />
													<span class="add-on"><strong>%</strong></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="pagerfanta">
				{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			/* Apply fancybox to multiple items */
			$('a.grouped_elements').fancybox({
				'transitionIn':'elastic',
				'transitionOut':'elastic',
				'speedIn':200,
				'speedOut':200,
				'enableEscapeButton':true,
				'hideOnContentClick':true,
				'titlePosition':'inside',
				'overlayShow':true,
				'titleFromAlt':true
			});
			$('a.html-box').fancybox({
				onComplete:function(){
					var id=$(this).attr('href');
					var img_src=$(id).attr('data-src');
					id=id.replace('#','v_');
					var iv=$('#'+id).iviewer({
						src:img_src,
						ui_disabled:true,
						zoom:'fit',
						zoom_min:25,
						zoom_max:1000,
						onAfterZoom:function(ev,new_zoom){
							$('#'+id+'_percent').val(Math.round(new_zoom));
						}
					});
					$('#'+id+'_in').click(function(event){
						event.preventDefault();
						iv.iviewer('zoom_by',1);
					});
					$('#'+id+'_out').click(function(event){
						event.preventDefault();
						iv.iviewer('zoom_by',-1);
					});
					$('#'+id+'_orig').click(function(event){
						event.preventDefault();
						iv.iviewer('set_zoom',100);
					});
					$('#'+id+'_fit').click(function(event){
						event.preventDefault();
						iv.iviewer('fit');
					});
					$('#'+id+'_right').click(function(event){
						event.preventDefault();
						iv.iviewer('angle',90,false);
					});
				}
			});
			$('.gallery img').addClass('blind');
			$('.gallery img').one('load',function(){
				var img=$(this);
				img.fadeTo(200,1);
			}).each(function(){
				if(this.complete)
				{
					$(this).load();
				}
			});
			$('div.thumbnail').popover({
				html:true,
				placement:'left',
				trigger:'hover'
			});
		});
	</script>
{% endblock %}