{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title collection.name|capitalize ~ ' - ' ~ module.name|capitalize ~ ' - ' ~ "tab-search"|trans|capitalize %}
{% block stylesheets %}
	{{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>{{ module.name|capitalize }} - {{ "tab-search"|trans|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">{{ collection.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">{{ module.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-search"|trans|capitalize }}
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="span3">
            <div>
            	<form action="{{ path('_module_result', {'project': project, 'collection': collection, 'module': module}) }}" method="get" {{ form_enctype(form) }}>
                    {{ form_widget(form.y_lat_1_bottom_left, {'id':'y_lat_1_bottom_left','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.x_lng_1_bottom_left, {'id':'x_lng_1_bottom_left','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.y_lat_2_top_right, {'id':'y_lat_2_top_right','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.x_lng_2_top_right, {'id':'x_lng_2_top_right','attr':{'class':'coords'}}) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ "tab-search"|trans }}" class="btn" />
                </form>
            </div>
        </div>
        <div class="span6">
            <div>
                {# LEAFLET MAP #}
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}