{% set imgs = [] %}
{% set nb_img = 3 %}
<div class="module_presentation">
    <div class="head well well-small">
        <h4>
            <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module':module.url }) }}">
                {{ module.name }}
            </a>
        </h4>
        <small class="muted">
            {{ module.nbrows }} {{ "line-entities"|trans }}
        </small>
    </div>
    <div class="content">
        {% if module.children|length > 0 %}
            <div class="details">
                <table>
                    {% for child in module.children if (child.type == 'image' and child.deleting != true) %}
                        {% if child.nbrows > 0 and imgs|length < nb_img %}
                            {% for image in child.images if imgs|length < nb_img %}
                                {% set imgs = imgs|merge([image]) %}
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td>
                                <i class="icon-camera"></i>
                                <h5>
                                    {{ child.name }}
                                </h5>
                            </td>
                            <td>
                                <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-images"|trans }}">
                                    {{ child.nbrows }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for child in module.children if (child.type == 'locality' and child.deleting != true) %}
                        <tr>
                            <td>
                                <i class="icon-map-marker"></i>
                                <h5>
                                    {{ child.name }}
                                </h5>
                            </td>
                            <td>
                                <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-locations"|trans }}">
                                    {{ child.nbrows }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <div>
            {% autoescape false %}
                {{ module.description }}
            {% endautoescape %}
        </div>
        <div>
            <div class="row">
                <div class="span{{ item_size/2 }} middle">
                    <div class="images {% if item_size/2 == 3 %}mini{% elseif item_size/2 == 6 %}maxi{% endif %}">
                        {% if imgs|length > 0 %}
                            <div id="carousel_{{ module.id }}" class="carousel slide">
                                <ol class="carousel-indicators">
                                    {% for image in imgs %}
                                        <li data-target="#carousel_{{ module.id }}" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in imgs %}
                                        {% set imgspe = image.path|basename %}
                                        {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
                                        <div class="{% if loop.index0 == 0 %}active {% endif %}item">
                                            {% if item_size/2 == 3 %}
                                                <img src="{{ asset(img) | imagine_filter('thumb_270_150') }}" alt="{{ image.copyright }}" />
                                            {% elseif item_size/2 == 6 %}
                                                <img src="{{ asset(img) | imagine_filter('thumb_570_325') }}" alt="{{ image.copyright }}" />
                                            {% endif %}
                                            {% if image.copyright is not empty %}
                                                <div class="carousel-caption">
                                                    <p>{{ image.copyright }}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="img_empty"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>