{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title collection.name|capitalize ~ ' - ' ~ module.name|capitalize ~ ' - ' ~ "tab-result"|trans|capitalize %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}<h1>{{ module.name|capitalize }} - {{ "tab-result"|trans|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">{{ collection.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">{{ module.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_module_search', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">
                {{ "tab-search"|trans|capitalize }}
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-result"|trans|capitalize }}
            <span class="divider">></span>
            {% if nbResults == 0 %}
                {{ "line-no-result"|trans }}
            {% else %}
                <span class="badge">{{ nbResults }}</span> {{ "line-row"|trans }}{% if nbResults >= 2 %}s{% endif %}
            {% endif %}
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div class="results">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#grid-tab" data-toggle="tab">
                    <i class="icon-list"></i>
                    {{ "line-grid"|trans|capitalize }}
                </a>
            </li>
            <li>
                <a href="#images-tab" data-toggle="tab">
                    <i class="icon-camera"></i>
                    {{ "line-images"|trans|capitalize }}
                </a>
            </li>
            <li>
                <a href="#map-tab" data-toggle="tab">
                    <i class="icon-map-marker"></i>
                    {{ "line-locations"|trans|capitalize }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="grid-tab">
                {% if paginator|length > 0 %}
                    <div class="pagerfanta">
                        {% if paginator.haveToPaginate() %}
                            <form method="get" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                {% set array_form = app.request.query.all() %}
                                {% for form,values in array_form if values is iterable %}
                                    {% for k,v in values if (k != '_token' and k != 'page') %}
                                        <input type="hidden" name="{{ form }}[{{ k }}]" value="{{ v }}" />
                                    {% endfor %}
                                {% endfor %}
                                <input type="number" name="page" placeholder="{{ paginator.currentPage }}" class="span1" min="1" max="{{ paginator.nbPages }}" />
                            </form>
                        {% endif %}
                        {{ pagerfanta(paginator, 'twitter_bootstrap_translated', {'proximity': 2}) }}
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                {% for property in module.properties if property.id in display %}
                                    <th>{{ property.name|capitalize }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for plantunit in paginator %}
                                <tr class="" onmouseover="this.style.cursor='pointer'" onclick="document.location='{{ path('_details', { 'project': project, 'collection': collection.name, 'module': module.name, 'id': plantunit.id }) }}'">
                                    <td>
                                        {% if plantunit.images|length > 0 %}
                                            <i class="icon-camera"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if plantunit.locations|length > 0 %}
                                            <i class="icon-map-marker"></i>
                                        {% endif %}
                                    </td>
                                    {% for field in display %}
                                        <td>{{ plantunit.attributes[field] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagerfanta">
                        {{ pagerfanta(paginator, 'twitter_bootstrap_translated', {'proximity': 2}) }}
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane" id="images-tab">
                2
            </div>
            <div class="tab-pane" id="map-tab">
                3
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('a[data-toggle="tab"]').on('show',function(e){
                var new_tab=e.target;
                var old_tab=e.relatedTarget;
            })
        });
    </script>
{% endblock %}