{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title project|capitalize ~ ' - ' ~ collection.name ~ ' - ' ~ module.name ~ ' - ' ~ "tab-search"|trans|capitalize %}
{% block stylesheets %}
	{{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>{{ module.name }} - {{ "tab-search"|trans|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.url }) }}">{{ collection.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">{{ module.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-search"|trans|capitalize }}
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="span3">
            <div>
            	<form action="{{ path('_module_result', {'project': project, 'collection': collection.url, 'module': module.url}) }}" method="get" {{ form_enctype(form) }} id="search_form">
                    {{ form_widget(form.y_lat_1_bottom_left, {'id':'y_lat_1_bottom_left','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.x_lng_1_bottom_left, {'id':'x_lng_1_bottom_left','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.y_lat_2_top_right, {'id':'y_lat_2_top_right','attr':{'class':'coords'}}) }}
                    {{ form_widget(form.x_lng_2_top_right, {'id':'x_lng_2_top_right','attr':{'class':'coords'}}) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ "tab-search"|trans }}" class="btn" />
                </form>
            </div>
        </div>
        <div class="span6">
            <div>
                {# LEAFLET MAP #}
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type=text]').attr('autocomplete','off');
            $('#form .str').each(function(){
                var item_class=$(this).attr('class').replace('str ','');
                $(this).parent('div').first().children('label').first().append('<a href="#'+item_class+'" class="btn btn-mini add-btn"><i class="icon-plus"></i></a>');
            });
            $('.add-btn').click(function(event){
                event.preventDefault();
                var item_class=$(this).attr('href').replace('#','');
                $(this).parent('label').first().parent('div').first().append('<div>'
                    +'<div class="input-prepend input-append">'
                    +'<span class="add-on">{{ "line-or"|trans }}</span>'
                    +'<input type="text" class="'+item_class+' span2" />'
                    +'<button class="btn rm-btn" type="button"><i class="icon-minus"></i></button>'
                    +'</div>'
                    +'</div>');
                var col_name=$(this).parent('label').first().parent('div').first().next('input').val();
                $(this).parent('label').first().parent('div').first().children('div').last().children('div').last().children('input').first().typeahead({
                    source:function(query,process){
                        return $.get('{{ path('_module_search_query_path', { 'project': project, 'collection': collection.url, 'module': module.url }) }}/'+col_name+'/'+query,function(data){
                            return process(data);
                        });
                    },
                    items:10,
                    minLength:2
                });
            });
            $(document).on('click','.rm-btn',function(event){
                event.preventDefault();
                $(this).parent('div').first().remove();
            });
            $('#search_form').submit(function(event){
                $('#form .str').each(function(){
                    var item_class=$(this).attr('class').replace('str ','');
                    var string='';
                    $('.'+item_class).each(function(){
                        if(string!=''&&$(this).val()!=''){
                            string+='~|~';
                        }
                        string+=$(this).val();
                    });
                    $('.string_'+item_class).val(string);
                });
            });
            $('input.str').each(function(){
                var col_name=$(this).parent('div').next('input').val();
                $(this).typeahead({
                    source:function(query,process){
                        return $.get('{{ path('_module_search_query_path', { 'project': project, 'collection': collection.url, 'module': module.url }) }}/'+col_name+'/'+query,function(data){
                            return process(data);
                        });
                    },
                    items:10,
                    minLength:2
                });
            });
        });
    </script>
{% endblock %}