{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title collection.name ~ ' - ' ~ module.name ~ ' - ' ~ "line-taxonomy"|trans|capitalize %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ module.name }} - {{ "line-taxonomy"|trans|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">{{ collection.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">{{ module.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "line-taxonomy"|trans|capitalize }}
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div id="taxo">
        <table class="table table-hover table-condensed">
            <tr>
                <th>
                    {{ "line-taxon"|trans|capitalize }}
                </th>
                <th class="span2 middle">
                    {{ "line-specimens"|trans|capitalize }}
                </th>
                <th class="span2 middle">
                    {{ "line-views"|trans|capitalize }}
                </th>
            </tr>
            {% for taxon in taxons %}
                <tr>
                    <td>
                        <span>
                            <a href="#{{ taxon.id }}" class="display-sub">
                                <i class="arrow icon-chevron-right"></i>
                                {{ taxon.name }}
                            </a>
                        </span>
                    </td>
                    <td class="span2 middle">
                        <span class="badge">
                            {{ taxon.nbpunits }}
                            <i class="icon-leaf"></i>
                        </span>
                    </td>
                    <td class="span2 middle">
                        <i class="icon-list"></i>
                        {% if taxon.hasimages %}
                            <i class="icon-camera"></i>
                        {% endif %}
                        {% if taxon.haslocations %}
                            <i class="icon-map-marker"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td id="sub-{{ taxon.id }}" colspan="3" class="sub-content"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click','.display-sub',function(event){
                event.preventDefault();
                var parent=$(this);
                var loaded=parent.hasClass('loaded');
                if(!loaded){
                    parent.addClass('loaded');
                }
                var id=parent.attr('href').substring(1);
                if(!loaded){
                    parent.parent('span').append('<span class="taxo_load"></span>');
                    $.ajax({
                        url:'{{ path('_module_taxo_children', { 'project': project, 'collection': collection.name, 'module': module.name }) }}/'+id
                    }).done(function(data){
                        $('#sub-'+id).html(data);
                        parent.parent('span').children('.taxo_load').remove();
                        if(parent.children('.arrow').hasClass('icon-chevron-right')){
                            parent.children('.arrow').removeClass('icon-chevron-right');
                        }
                        if(parent.children('.arrow').hasClass('icon-chevron-down')){
                            parent.children('.arrow').removeClass('icon-chevron-down');
                        }
                        parent.children('.arrow').addClass('icon-chevron-down');
                        $('#sub-'+id).show();
                    });
                }
                else{
                    $('#sub-'+id).toggle(0,function(){
                        if(parent.children('.arrow').hasClass('icon-chevron-right')){
                            parent.children('.arrow').removeClass('icon-chevron-right');
                        }
                        if(parent.children('.arrow').hasClass('icon-chevron-down')){
                            parent.children('.arrow').removeClass('icon-chevron-down');
                        }
                        if($(this).is(':visible')){
                            parent.children('.arrow').addClass('icon-chevron-down');
                        }
                        else{
                            parent.children('.arrow').addClass('icon-chevron-right');
                        }
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}