{% set current = 'settings' %}
{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block title 'Profile' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div id="title-form">
        <h4 class="text-info">
            Profile edit > change password
        </h4>
    </div>
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('fos_user_profile_show') }}">
				<i class="icon-user"></i>
				Profile
				[ {{ app.user.username }} ]
			</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			Change password
		</li>
	</ul>
	<div>
		{% block fos_user_content %}
			<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
			    {{ form_widget(form) }}
			    <div>
			        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn" />
			    </div>
			</form>
		{% endblock fos_user_content %}
	</div>
{% endblock %}