{% extends "PlantnetDataBundle:Backend\\Export_IDAO:layout.html.twig" %}
{% block title %}{{ plantunit.title1 ~ ' - ' ~ plantunit.title2 }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
    <style type="text/css">
        body{
            padding:20px;
        }
        .gallery > ul{
            list-style-type:none;
            margin:0;
            padding:0;
        }
        .gallery > ul > li{
            display:inline-block;
            margin-right:10px;
            margin-bottom:10px;
        }
    </style>
{% endblock %}
{% block body %}
    {# Title #}
	<h2>{{ plantunit.title1 }}</h2>
    {# Gallery #}
    {% if plantunit.images|length > 0 %}
        <div class="gallery">
            <ul>
                {% for image in plantunit.images %}
                    {% set imgspe = image.path|basename %}
                    {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
                    {% set content = '' %}
                    {% for property in image.module.properties if property.details == true %}
                        {% set content = content ~ '<strong>' ~ property.name|capitalize ~ '</strong>' %}
                        {% set content = content ~ ': ' ~ image.property[property.id] ~ '<br />' %}
                    {% endfor %}
                    <li data-title="<strong>© {{ image.copyright }}</strong>" data-content="{% autoescape false %}{{ content }}{% endautoescape %}">
                        <a href="./{{ imgs_dir_name }}/{{ imgspe }}">
                            <img src="./{{ thumbs_dir_name }}/{{ imgspe }}" class="img-polaroid" alt="{{ imgspe }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {# Data #}
    <div class="data">
        <h4>Description</h4>
    	<table class="table table-striped table-bordered table-hover table-condensed">
            {% for property in module.properties if property.id in display %}
                <tr>
                    <td><strong>{{ property.name|capitalize }}</strong></td>
                    <td>{{ plantunit.attributes[property.id] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {# Data plus #}
    {% if tab_others_groups|length > 0 %}
        <div class="data-plus">
            {% for group in tab_others_groups %}
                <div>
                    <div>
                        <h5>
                            {{ group.0.name }}
                        </h5>
                    </div>
                    <div>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            {% set not_display = [] %}
                            <tr>
                                {% for property in group.0.properties %}
                                    {% if property.details == true %}
                                        <td>
                                            <strong>{{ property.name }}</strong>
                                        </td>
                                    {% else %}
                                        {% set hidden = loop.index %}
                                        {% set not_display = not_display|merge([hidden]) %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% for other in group.1 %}
                                <tr>
                                    {% for prop in other.property %}
                                        {% if loop.index not in not_display %}
                                            <td>
                                                {{ prop }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.gallery ul li').popover({
                html:true,
                placement:'bottom',
                trigger:'hover'
            });
        });
    </script>
{% endblock %}