{% block breadcrumb %}
 <ul class="breadcrumb">
    <li>
        <a href="{{ path('_collection', { 'owner': collection.user.usernameCanonical, 'collection': collection.name }) }}">{{ collection.name }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <a href="{{ path('_module', { 'owner': collection.user.usernameCanonical, 'collection': collection.name, 'module': module.name }) }}">{{ module.name }}</a>
        <span class="divider">></span>
    </li>
    <li>{{ type }}</li>
    <div id="page-loading"></div>
 </ul>
{% endblock %}
{% block main %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(".pagerfanta").on("click","a", function(event){
            event.preventDefault();
            if($(this).attr('href').length){
                var $url = $(this).attr('href');
                ajaxLoader();
                $(".span10").load($url);
            }
        });
    </script>
{% endblock %}