{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title collection.name %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ collection.name }}</h1>{% endblock %}
{% block main %}
	<ul>
		{% for module in collection.modules %}
			<li class="module">
				<a href="{{ path('_module', { 'owner': collection.user.usernameCanonical, 'collection': collection.name, 'module': module.name }) }}">
					{{ module.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}