{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title collection.name %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ collection.name }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ collection.name }}
        </li>
        <div id="page-loading"></div>
    </ul>
{% endblock %}
{% block side %}
	{% include "PlantnetDataBundle:Frontend:side.html.twig" with { collection: collection } %}
{% endblock %}
{% block main %}
	<div>
		{% autoescape false %}
			{{ collection.description }}
		{% endautoescape %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}