{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title collection.name %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ collection.name }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ collection.name }}
        </li>
        <div id="page-loading"></div>
    </ul>
{% endblock %}
{% block main %}
	<div>
		{% autoescape false %}
			{{ collection.description }}
		{% endautoescape %}
	</div>
	<br />
	<ul class="unstyled-list">
		{% for module in collection.modules %}
			{% if module.type == 'text' %}
				<li class="module">
					<i class="icon-list"></i>
					<a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">
						{{ module.name }}
					</a>
					<small class="muted">{{ module.nbrows }} {{ "line-entities"|trans }}</small>
					{% if module.children|length > 0 %}
						<ul class="unstyled-list">
							{% for child in module.children %}
								<li>
									{% if child.type == 'image' %}
										<i class="icon-camera"></i>
									{% elseif child.type == 'locality' %}
										<i class="icon-map-marker"></i>
									{% endif %}
									<a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': child.name }) }}">
										{{ child.name }}
									</a>
									<small class="muted">{{ child.nbrows }} {{ "line-entities"|trans }}</small>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}