{% extends "PlantnetDataBundle:Frontend:layout_index.html.twig" %}
{% block title "Pl@ntnet - " ~ "line-introduction"|trans|capitalize %}
{% block header %}<h1>{{ "line-projects"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		<h5>
			{{ "line-projects-list"|trans|capitalize }}
		</h5>
		{% for project in projects %}
			<div class="btn-group">
				<a href="{{ path('front_project', {'project': project.link}) }}" class="btn">
					{{ project.displayedname }}
				</a>
				{% if project.children|length > 0 %}
					{% for child in project.children if child.enable == true %}
						<a href="{{ path('front_project', {'project': child.link}) }}" class="btn">
							[{{ child.language }}]
						</a>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}