{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>{{ collection.name }} / {{ module.name }}</h1>{% endblock %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li>
        <a href="{{ path('_collection', { 'owner': collection.user.usernameCanonical, 'collection': collection.name }) }}">{{ collection.name }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <a href="{{ path('_module', { 'owner': collection.user.usernameCanonical, 'collection': collection.name, 'module': module.name }) }}">{{ module.name }}</a>
        <span class="divider">></span>
    </li>
    <li>localisations</li>
 </ul>
{% endblock %}
{% block main %}
	{# LEAFLET MAP #}
	<div id="map"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}