{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block head %}
	{% block stylesheets %}
		{{ parent() }}
		{% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
	{% endblock %}
	<title>{% block title module.Name%}</title>
{% endblock %}
{% block main %}
	<section id="breadcrumbs">
		<a href="{{ path('_collection', { 'owner': collection.User.UsernameCanonical, 'collection': collection.Name }) }}">{{ collection.Name }}</a>
		>>
		<a href="{{ path('_module', { 'owner': collection.User.UsernameCanonical, 'collection': collection.Name, 'module': module.Name }) }}">{{ module.Name }}</a>
	</section>
	{# LEAFLET MAP #}
	<div id="map"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}