{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title module.name %}
{% block stylesheets %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>{{ collection.name }} / {{ module.name }}</h1>{% endblock %}
{% block breadcrumb %}
     <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">{{ collection.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ module.name }}
            <span class="divider">></span>
            {{ module.nbrows }} entities
        </li>
    </ul>
{% endblock %}
{% block main %}
	{# LEAFLET MAP #}
	<div id="map"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}