{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title "Pl@ntnet - Result" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}<h1>Result</h1>{% endblock %}
{% block main %}
    {% if plantunits|length > 0 %}
        <table cellpadding="3" class="zebra-striped">
            <thead>
                <tr class="rowtop">
                        <th class="vtop">Title 1</th>
                        <th class="vtop">Title 2</th>
                        <th class="vtop">Collection / Module</th>
                </tr>
            </thead>
            <tbody>
                {% for plantunit in plantunits %}
                    <tr class= "" onmouseover="this.style.cursor='pointer'" onclick="document.location='{{ path('_details', { 'project': project, 'collection': plantunit.module.collection.name, 'module': plantunit.module.name, 'id': plantunit.id }) }}'">
                        <td>{{ plantunit.title1 }}</td>
                        <td>{{ plantunit.title2 }}</td>
                        <td>
                            {{ plantunit.module.collection.name }}
                            /
                            {{ plantunit.module.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No result</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}