{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title "Pl@ntnet - Result" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}<h1>Result</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        {% if nbResults == 0 %}
            <li>No result</li>
        {% else %}
            <li>{{ nbResults }} row{% if nbResults >= 2 %}s{% endif %}</li>
        {% endif %}
        <div id="page-loading"></div>
    </ul>
{% endblock %}
{% block main %}
    {% if paginator|length > 0 %}
        <div class="pagerfanta">
            {{ pagerfanta(paginator, 'twitter_bootstrap') }}
        </div>
        <table cellpadding="3" class="zebra-striped">
            <thead>
                <tr class="rowtop">
                        <th class="vtop">Title 1</th>
                        <th class="vtop">Title 2</th>
                        <th class="vtop">Collection / Module</th>
                </tr>
            </thead>
            <tbody>
                {% for plantunit in paginator %}
                    <tr class= "" onmouseover="this.style.cursor='pointer'" onclick="document.location='{{ path('_details', { 'project': project, 'collection': plantunit.module.collection.name, 'module': plantunit.module.name, 'id': plantunit.id }) }}'">
                        <td>{{ plantunit.title1 }}</td>
                        <td>{{ plantunit.title2 }}</td>
                        <td>
                            {{ plantunit.module.collection.name }}
                            /
                            {{ plantunit.module.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagerfanta">
            {{ pagerfanta(paginator, 'twitter_bootstrap') }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}