{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title "Pl@ntnet - " ~ "tab-result"|trans %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}<h1>{{ "tab-result"|trans }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ url('_search', {'project': project}) }}">{{ "tab-search"|trans }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-result"|trans }}
            <span class="divider">></span>
            {% if nbResults == 0 %}
                {{ "line-no-result"|trans }}
            {% else %}
                {{ nbResults }} {{ "line-row"|trans }}{% if nbResults >= 2 %}s{% endif %}
            {% endif %}
        </li>
        <div id="page-loading"></div>
    </ul>
{% endblock %}
{% block main %}
    {% if paginator|length > 0 %}
        <div class="pagerfanta">
            {{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title 1</th>
                    <th>Title 2</th>
                    <th>Collection / Module</th>
                </tr>
            </thead>
            <tbody>
                {% for plantunit in paginator %}
                    <tr class= "" onmouseover="this.style.cursor='pointer'" onclick="document.location='{{ path('_details', { 'project': project, 'collection': plantunit.module.collection.name, 'module': plantunit.module.name, 'id': plantunit.id }) }}'">
                        <td>{{ plantunit.title1 }}</td>
                        <td>{{ plantunit.title2 }}</td>
                        <td>
                            {{ plantunit.module.collection.name }}
                            /
                            {{ plantunit.module.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagerfanta">
            {{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}