{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ "tab-search"|trans %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>{{ "tab-search"|trans }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-search"|trans }}
        </li>
        <div id="page-loading"></div>
    </ul>
{% endblock %}
{% block row %}
	{# LEAFLET MAP #}
    <div id="map"></div>
    <form action="{{ path('_result', {'project': project}) }}" method="get" {{ form_enctype(form) }}>
        {{ form_widget(form.y_lat_1_bottom_left, {'id':'y_lat_1_bottom_left'}) }}
        {{ form_widget(form.x_lng_1_bottom_left, {'id':'x_lng_1_bottom_left'}) }}
        {{ form_widget(form.y_lat_2_top_right, {'id':'y_lat_2_top_right'}) }}
        {{ form_widget(form.x_lng_2_top_right, {'id':'x_lng_2_top_right'}) }}
        <input type="submit" value="Chercher" class="btn" />
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}