{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title "Pl@ntnet - Search" %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block header %}<h1>Search</h1>{% endblock %}
{% block main %}
	{# LEAFLET MAP #}
    <div id="map"></div>
    <form action="{{ path('_result', {'project': project}) }}" method="get" {{ form_enctype(form) }}>
        {{ form_widget(form.y_lat_1_bottom_left, {'id':'y_lat_1_bottom_left'}) }}
        {{ form_widget(form.x_lng_1_bottom_left, {'id':'x_lng_1_bottom_left'}) }}
        {{ form_widget(form.y_lat_2_top_right, {'id':'y_lat_2_top_right'}) }}
        {{ form_widget(form.x_lng_2_top_right, {'id':'x_lng_2_top_right'}) }}
        <input type="submit" value="Chercher" />
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}