{% for module in collection.modules %}
	{% if module.type == 'text' %}
		<ul class="nav nav-tabs nav-stacked">
			<li class="module">
				<a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">
					<i class="icon-list"></i>
					{{ module.name }}
					<small class="muted">{{ module.nbrows }} {{ "line-entities"|trans }}</small>
				</a>
				{% if module.children|length > 0 %}
					{% for child in module.children %}
						<li class="child">
							<a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': child.name }) }}">
								{% if child.type == 'image' %}
									<i class="icon-camera"></i>
								{% elseif child.type == 'locality' %}
									<i class="icon-map-marker"></i>
								{% endif %}
								{{ child.name }}
								<small class="muted">{{ child.nbrows }} {{ "line-entities"|trans }}</small>
							</a>
						</li>
					{% endfor %}
				{% endif %}
			</li>
			<li>
				<a href="{{ path('_module_search', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">
					<i class="icon-search"></i>
					{{ "line-search-in"|trans }} {{ module.name }}
				</a>
			</li>
		</ul>
	{% endif %}
{% endfor %}