{% set nb_img = 3 %}
{% for module in collection.modules if module.deleting != true %}
	{% set imgs = [] %}
	{% for child in module.children if (child.deleting != true and child.type == 'image' and imgs|length < nb_img) %}
		{% if child.nbrows > 0 and imgs|length < nb_img %}
			{% for image in child.images if imgs|length < nb_img %}
				{% set imgs = imgs|merge([image]) %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	<h2>
		<a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
			{{ module.name }}
		</a>
		{% if module.nbrows > 0 %}
			<span class="badge pop-tooltip" data-toggle="tooltip" title="{{ module.nbrows }} {{ "line-entities"|trans }}">
				<i class="icon-list"></i>
				{{ module.nbrows }}
			</span>
		{% endif %}
	</h2>
	<div class="row">
		<div class="span9">
			<div class="media">
				{% if imgs|length > 0 %}
					<div class="pull-left">
						<div id="carousel_{{ module.id }}" class="carousel slide img-polaroid">
							<ol class="carousel-indicators">
								{% for image in imgs %}
									<li data-target="#carousel_{{ module.id }}" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
								{% endfor %}
							</ol>
							<div class="carousel-inner">
								{% for image in imgs %}
									{% set imgspe = image.path|basename %}
									{% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
									<div class="{% if loop.index0 == 0 %}active {% endif %}item">
										<img src="{{ asset(img) | imagine_filter('thumb_370_210') }}" alt="{{ image.copyright }}" width="370" />
										<div class="carousel-caption">
											<p>{{ image.title1 }} {{ image.title2 }}</p>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				<div class="media-body">
					{% autoescape false %}
                    	{{ module.description }}
                	{% endautoescape %}
                	<a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}" class="btn btn-small pull-right">
                		{{ "line-details"|trans|capitalize }}
                	</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<table class="table table-hover table-condensed no-border">
				<tbody>
					{% for child in module.children if (child.type == 'image' and child.deleting != true) %}
						<tr>
							<td>
								<a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
									{{ child.name }}
								</a>
							</td>
							<td>
								{% if child.nbrows > 0 %}
									<span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-images"|trans }}">
										<i class="icon-camera"></i>
										{{ child.nbrows }}
									</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					{% for child in module.children if (child.type == 'locality' and child.deleting != true) %}
						<tr>
							<td>
								<a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
									{{ child.name }}
								</a>
							</td>
							<td>
								{% if child.nbrows > 0 %}
									<span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-locations"|trans }}">
										<i class="icon-map-marker"></i>
										{{ child.nbrows }}
									</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					{% if module.taxonomy == true %}
						<tr>
							<td>
								<a href="{{ path('front_module_taxo', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
									{{ "line-taxonomy"|trans|capitalize }}
								</a>
							</td>
							<td></td>
						</tr>
					{% endif %}
					<tr>
						<td>
							<a href="{{ path('front_module_search', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
								{{ "tab-search"|trans|capitalize }}
							</a>
						</td>
						<td></td>
					</tr>
					{% if collection.glossary is not empty %}
						<tr>
							<td>
								<a href="{{ path('front_glossary', { 'project': project, 'collection': collection.url }) }}">
									{{ "line-glossary"|trans|capitalize }}
								</a>
							</td>
							<td></td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}