{% extends "PlantnetDataBundle:Root:layout.html.twig" %}
{% block title "Pl@ntnet - Publish" %}
{% block header %}<h3>{{ "line-projects-list"|trans }}</h3>{% endblock %}
{% block row %}
	<div id="root">
		{% for project in projects %}
			<div class="website">
				<h4>
					<a href="{{ path('front_project', {'project': project.link}) }}">
						{{ project.displayedname }}
					</a>
				</h4>
				<div class="btn-group pull-right languages">
					<a href="{{ path('front_project', {'project': project.link}) }}" class="btn btn-small">
						{{ project.language|language }}
					</a>
					{% if project.children|length > 0 %}
						{% set i18n = false %}
						{% for child in project.children if child.enable == true %}
							{% set i18n = true %}
						{% endfor %}
						{% if i18n %}
							<a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for child in project.children if child.enable == true %}
									<li>
										<a href="{{ path('front_project', {'project': child.link}) }}">
											{{ child.language|language }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endif %}
				</div>
				<div class="well">
					<div lang="{{ project.language }}" class="description">
						{{ project.description|truncate(330) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}