{% extends "PlantnetDataBundle:Root:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ "line-introduction"|trans|capitalize %}
{% block header %}<h1>{{ "line-projects"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		<h5>
			{{ "line-projects-list"|trans|capitalize }}
		</h5>
		{% for project in projects %}
			<div>
				<a href="{{ path('front_project', {'project': project.link}) }}">
					{{ project.displayedname }}</a>
				{% if project.children|length > 0 %}

					{% for child in project.children if child.enable == true %}
						{{ child.language|language }}
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}