{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title collection.name|capitalize %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ collection.name|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ collection.name|capitalize }}
        </li>
    </ul>
{% endblock %}
{% block row %}
    <div>
        {% autoescape false %}
            {{ collection.description }}
        {% endautoescape %}
    </div>
    <div>
        <div class="row">
            {% set item_size = '12' %}
            {% if collection.modules|length > 1 %}
                {% set item_size = item_size/2 %}
            {% endif %}
            {% for module in collection.modules if module.deleting != true %}
                <div class="span{{ item_size }}">
                     {% include "PlantnetDataBundle:Frontend\\Module:module_presentation.html.twig" with { collection: collection, item_size: item_size } %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel({
                interval:4000
            });
        });
        $('.pop-tooltip').tooltip();
    </script>
{% endblock %}