{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend_4:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend_4:datatypes.html.twig" %}
{% set tmp_title = '' %}
{% if current_display == 'grid' %}
    {% set tmp_title = ' - ' ~ "line-grid"|trans|capitalize %}
{% elseif current_display == 'images' %}
    {% set tmp_title = ' - ' ~ "line-images"|trans|capitalize %}
{% elseif current_display == 'locations' %}
    {% set tmp_title = ' - ' ~ "line-locations"|trans|capitalize %}
{% endif %}
{% block title taxon.name ~ ' [' ~ taxon.label ~ ']' ~ tmp_title %}
{% block meta %}
    {% set keywords = [] %}
    {% if current_display == 'grid' %}
        {% set keywords = ["line-grid"|trans|capitalize] %}
    {% elseif current_display == 'images' %}
        {% set keywords = ["line-images"|trans|capitalize] %}
    {% elseif current_display == 'locations' %}
        {% set keywords = ["line-locations"|trans|capitalize] %}
    {% endif %}
    {% set keywords = keywords|merge([taxon.label ~ ' ' ~ taxon.name]) %}
    {% if taxon.synonyms|length > 0 %}
        {% for syn in taxon.synonyms %}
            {% set keywords = keywords|merge([syn.label ~ ' ' ~ syn.name]) %}
        {% endfor %}
    {% endif %}
    <meta name="keywords" content="{{ keywords|join(', ') }}"/>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% if current_display == 'locations' %}
        {% include 'PlantnetDataBundle:Frontend_4:leaflet.css.html.twig' %}
    {% endif %}
{% endblock %}
{% block header %}<h1>{{ config.name }} - {{ module.name }} - {{ "line-taxonomy"|trans|capitalize }}
    - {{ taxon.name }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('front_project', {'project': project}) }}">{{ config.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">{{ module.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('front_module_taxo', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">{{ "line-taxonomy"|trans|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        {% macro bc_taxon(taxon,project,collection,module) %}
            {% if taxon.parent and taxon.parent.chosen %}
                {{ _self.bc_taxon(taxon.parent.chosen,project,collection,module) }}
                <li>
                    <a href="{{ path('front_module_taxo_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.parent.chosen.identifier }) }}">{{ taxon.parent.chosen.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% elseif taxon.parent %}
                {{ _self.bc_taxon(taxon.parent,project,collection,module) }}
                <li>
                    <a href="{{ path('front_module_taxo_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.parent.identifier }) }}">{{ taxon.parent.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% endif %}
        {% endmacro %}
        {% import _self as macros %}
        {{ macros.bc_taxon(taxon,project,collection,module) }}
        <li>
            <a href="{{ path('front_module_taxo_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">{{ taxon.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <span class="badge">{{ nbResults }}</span>
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend_4:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <div class="results">
        {% if taxon.chosen %}
            <p>
                {{ "line-valid-taxon"|trans|capitalize }}
                {% macro valid_taxonomy(taxon,project,collection,module) %}
                    {% if taxon.parent and taxon.parent.chosen %}
                        {{ _self.valid_taxonomy(taxon.parent.chosen,project,collection,module) }}
                        <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.parent.chosen.identifier }) }}">
                            {{ taxon.parent.chosen.name }}</a>
                    {% elseif taxon.parent %}
                        {{ _self.valid_taxonomy(taxon.parent,project,collection,module) }}
                        <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.parent.identifier }) }}">
                            {{ taxon.parent.name }}</a>
                    {% endif %}
                {% endmacro %}
                {% import _self as macros2 %}
                {{ macros2.valid_taxonomy(taxon.chosen,project,collection,module) }}
                <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.chosen.identifier }) }}">
                    {{ taxon.chosen.name }}</a>
            </p>
        {% endif %}
        {% if taxon.synonyms|length > 0 %}
            <p>
                {% if taxon.synonyms|length >= 2 %}
                    {{ "line-synonyms"|trans|capitalize }}
                {% else %}
                    {{ "line-synonym"|trans|capitalize }}
                {% endif %}
            </p>
            <ul>
                {% for syn in taxon.synonyms %}
                    <li>
                        <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': syn.identifier }) }}">
                            {{ syn.identifier }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="nav nav-tabs">
            <li{% if current_display == 'grid' %} class="active"{% endif %}>
                <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                    <i class="icon-list"></i>
                    {{ "line-grid"|trans|capitalize }}
                </a>
            </li>
            <li{% if current_display == 'images' %} class="active"{% endif %}>
                {% if nb_images > 0 %}
                    <a href="{{ path('front_module_taxo_view_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                        <i class="icon-camera"></i>
                        {{ "line-images"|trans|capitalize }}
                    </a>
                {% else %}
                    <a href="#" class="muted">
                        <i class="icon-camera"></i>
                        {{ "line-images"|trans|capitalize }}
                    </a>
                {% endif %}
            </li>
            <li{% if current_display == 'locations' %} class="active"{% endif %}>
                {% if nb_locations > 0 %}
                    <a href="{{ path('front_module_taxo_view_map', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                        <i class="icon-map-marker"></i>
                        {{ "line-locations"|trans|capitalize }}
                    </a>
                {% else %}
                    <a href="#" class="muted">
                        <i class="icon-map-marker"></i>
                        {{ "line-locations"|trans|capitalize }}
                    </a>
                {% endif %}
            </li>
        </ul>
        <div>
            <div class="tab-pane{% if current_display == 'grid' %} active{% endif %}" id="grid-tab">
                {% if current_display == 'grid' %}
                    {% if paginator|length > 0 %}
                        {% if paginator.haveToPaginate() %}
                            <div class="pagerfanta">
                                {% if sortby != 'null' and sortorder != 'null' %}
                                    <form method="get"
                                          action="{{ path('front_module_taxo_view_paginated_sorted', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier, 'page': page, 'sortby': sortby, 'sortorder': sortorder }) }}">
                                        <input type="number" name="form_page" placeholder="{{ paginator.currentPage }}"
                                               class="span1" min="1" max="{{ paginator.nbPages }}"/>
                                    </form>
                                {% else %}
                                    <form method="get"
                                          action="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                                        <input type="number" name="form_page" placeholder="{{ paginator.currentPage }}"
                                               class="span1" min="1" max="{{ paginator.nbPages }}"/>
                                    </form>
                                {% endif %}
                                {% if sortby != 'null' and sortorder != 'null' %}
                                    {{ pagerfanta(
                                    paginator,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_paginated_sorted',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier,
                                        'sortby': sortby,
                                        'sortorder': sortorder,
                                    }
                                    }
                                    ) }}
                                {% else %}
                                    {{ pagerfanta(
                                    paginator,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_paginated',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier
                                    }
                                    }
                                    ) }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <table class="table table-striped table-hover tr-link dot">
                            <thead>
                            <tr>
                                <th class="fixe">
                                    <i class="icon-camera"></i>
                                </th>
                                <th class="fixe">
                                    <i class="icon-map-marker"></i>
                                </th>
                                {% for property in module.properties if property.id in display %}
                                    <th>
                                        <span class="dot" data-title="{{ property.name }}"
                                              data-toggle="tooltip">{{ property.name }}</span>
                                            <span class="nowrap">
                                                <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}/page1/sort-{{ property.id }}/order-asc">
                                                    <i class="icon-circle-arrow-up"></i></a>
                                                <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}/page1/sort-{{ property.id }}/order-desc">
                                                    <i class="icon-circle-arrow-down"></i></a>
                                            </span>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for plantunit in paginator %}
                                <tr>
                                    <td>
                                        <a href="{{ path('front_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'id': plantunit.identifier }) }}">
                                            {% if (plantunit.hasimages > 0)or(plantunit.hasimagesurl > 0) %}
                                                <i class="icon-camera"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('front_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'id': plantunit.identifier }) }}">
                                            {% if plantunit.haslocations > 0 %}
                                                <i class="icon-map-marker"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    {% for field in display %}
                                        <td>
                                            <a href="{{ path('front_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'id': plantunit.identifier }) }}">
                                                {{ plantunit.attributes[field] }}
                                            </a>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if paginator.haveToPaginate() %}
                            <div class="pagerfanta">
                                {% if sortby != 'null' and sortorder != 'null' %}
                                    {{ pagerfanta(
                                    paginator,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_paginated_sorted',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier,
                                        'sortby': sortby,
                                        'sortorder': sortorder,
                                    }
                                    }
                                    ) }}
                                {% else %}
                                    {{ pagerfanta(
                                    paginator,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_paginated',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier
                                    }
                                    }
                                    ) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane{% if current_display == 'images' %} active{% endif %}" id="images-tab">
                {% if current_display == 'images' %}
                    {% if paginator is defined %}
                        {% if ((paginator is defined) and (paginator|length > 0)) and ((paginatorurl is defined) and (paginatorurl|length > 0)) %}
                            <h2>Images locales</h2>
                        {% endif %}
                        {% if paginator|length > 0 %}
                            {% if paginator.haveToPaginate() %}
                                <div class="pagerfanta">
                                    <form method="get"
                                          action="{{ path('front_module_taxo_view_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                                        <input type="number" name="form_page" placeholder="{{ paginator.currentPage }}"
                                               class="span1" min="1" max="{{ paginator.nbPages }}"/>
                                    </form>
                                    {{ pagerfanta(
                                        paginator,
                                        'twitter_bootstrap_translated',
                                        {
                                            'proximity': 2,
                                            'prev_message': '←',
                                            'next_message': '→',
                                            'routeName': 'front_module_taxo_view_gallery_paginated',
                                            'routeParams': {
                                                'project': project,
                                                'collection': collection.url,
                                                'module': module.url,
                                                'taxon': taxon.identifier
                                            }
                                        }
                                    ) }}
                                </div>
                            {% endif %}
                            <div class="gallery">
                                <ul class="thumbnails per4">
                                    {% set pos = 1 %}
                                    {% for image in paginator %}
                                        {% if pos == 5 %}
                                            {% set pos = 1 %}
                                        {% endif %}
                                        {% include "PlantnetDataBundle:Frontend_4\\Image:item.html.twig" with { image: image } %}
                                        {% set pos = pos + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>

                            {% if paginator.haveToPaginate() %}
                                <div class="pagerfanta">
                                    {{ pagerfanta(
                                    paginator,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_gallery_paginated',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier
                                    }
                                    }
                                    ) }}
                                </div>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                    {% if paginatorurl is defined %}
                        {% if ((paginator is defined) and (paginator|length > 0)) and ((paginatorurl is defined) and (paginatorurl|length > 0)) %}
                            <br>
                            <h2>Images distantes</h2>
                        {% endif %}
                        {% if paginatorurl|length > 0 %}
                            {% if paginatorurl.haveToPaginate() %}
                                <div class="pagerfanta">
                                    <form method="get"
                                          action="{{ path('front_module_taxo_view_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                                        <input type="number" name="form_page"
                                               placeholder="{{ paginatorurl.currentPage }}" class="span1" min="1"
                                               max="{{ paginatorurl.nbPages }}"/>
                                    </form>
                                    {{ pagerfanta(
                                    paginatorurl,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_gallery_paginated',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier
                                    }
                                    }
                                    ) }}
                                </div>
                            {% endif %}
                            <div class="gallery">
                                <ul class="thumbnails per4">
                                    {% set pos = 1 %}
                                    {% for image in paginatorurl %}
                                        {% if pos == 5 %}
                                            {% set pos = 1 %}
                                        {% endif %}
                                        {% include "PlantnetDataBundle:Frontend_4\\Image:item.html.twig" with { image: image } %}
                                        {% set pos = pos + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if paginatorurl.haveToPaginate() %}
                                <div class="pagerfanta">
                                    {{ pagerfanta(
                                    paginatorurl,
                                    'twitter_bootstrap_translated',
                                    {
                                        'proximity': 2,
                                        'prev_message': '←',
                                        'next_message': '→',
                                        'routeName': 'front_module_taxo_view_gallery_paginated',
                                        'routeParams': {
                                        'project': project,
                                        'collection': collection.url,
                                        'module': module.url,
                                        'taxon': taxon.identifier
                                    }
                                    }
                                    ) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane{% if current_display == 'locations' %} active{% endif %}" id="map-tab">
                {% if current_display == 'locations' %}
                    <div>
                        {# LEAFLET MAP #}
                        <div id="map"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if current_display == 'locations' %}
        {% include 'PlantnetDataBundle:Frontend_4:leaflet.js.html.twig' %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('span.dot').each(function () {
                if ($(this)[0].offsetWidth < $(this)[0].scrollWidth) {
                    $(this).tooltip();
                }
            });
            $('.pop-tooltip').tooltip();
            $('a.grouped_elements').fancybox({
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'speedIn': 200,
                'speedOut': 200,
                'enableEscapeButton': true,
                'hideOnContentClick': true,
                'titlePosition': 'inside',
                'overlayShow': true,
                'titleFromAlt': true
            });
            $('a.html-box').fancybox({
                onStart: function () {
                    var width = $(window).width();
                    var height = $(window).height();
                    $('.viewer').width(Math.round(width * 85 / 100));
                    $('.viewer').height(Math.round(height * 75 / 100));
                },
                onComplete: function () {
                    var id = $(this).attr('href');
                    var img_src = $(id).attr('data-src');
                    id = id.replace('#', 'v_');
                    var iv = $('#' + id).iviewer({
                        src: img_src,
                        ui_disabled: true,
                        zoom: 'fit',
                        zoom_min: 25,
                        zoom_max: 1000,
                        onAfterZoom: function (ev, new_zoom) {
                            $('#' + id + '_percent').val(Math.round(new_zoom));
                        }
                    });
                    $('#' + id + '_in').click(function (event) {
                        event.preventDefault();
                        iv.iviewer('zoom_by', 1);
                    });
                    $('#' + id + '_out').click(function (event) {
                        event.preventDefault();
                        iv.iviewer('zoom_by', -1);
                    });
                    $('#' + id + '_orig').click(function (event) {
                        event.preventDefault();
                        iv.iviewer('set_zoom', 100);
                    });
                    $('#' + id + '_fit').click(function (event) {
                        event.preventDefault();
                        iv.iviewer('fit');
                    });
                    $('#' + id + '_right').click(function (event) {
                        event.preventDefault();
                        iv.iviewer('angle', 90, false);
                    });
                }
            });
            $('.gallery img').addClass('blind');
            $('.gallery img').one('load', function () {
                var img = $(this);
                img.fadeTo(200, 1);
            }).each(function () {
                if (this.complete) {
                    $(this).load();
                }
            });
            $('div.pop_right').popover({
                html: true,
                placement: 'right',
                trigger: 'hover'
            });
            $('div.pop_left').popover({
                html: true,
                placement: 'left',
                trigger: 'hover'
            });
        });
    </script>
{% endblock %}