<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if IE]><![endif]-->
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="description" content=""/>
	<meta name="author" content="Barbe Julien (AMAP), Affouard Antoine (AMAP)"/>
	<title>{% block title %}Plantnet{% endblock %}</title>
	<link type="image/x-icon" rel="shortcut icon" href="{{ asset('bundles/plantnetdata/images/favicon.ico') }}" />
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/plantnetdata/css/admin.css') }}" media="screen" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/CLEditor/jquery.cleditor.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/tablesorter/style.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/leaflet.css') }}" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/leaflet.ie.css') }}" />
		<![endif]-->
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.Default.css') }}" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.Default.ie.css') }}" />
		<![endif]-->
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/mini_map/Control.MiniMap.css') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/plantnetfilemanager/css/style.css') }}" />
		<style type="text/css">
			#map_leaflet{
				width:650px;
				height:450px;
				background:#333333;
			}
			.leaflet-control-zoom-fullscreen{
				background-image:url({{ asset('bundles/plantnetdata/leaflet/plugins/full_screen/images/icon-fullscreen.png') }});
			}
			.leaflet-control-layers-base label,.leaflet-control-layers-overlays label{
				clear:both;
				text-align:left;
			}
			.leaflet-control-layers-separator{
				clear:both;
			}
			.legend{
				background:#FFFFFF;
				border-radius:8px;
				overflow:hidden;
			}
			.legend img{
				margin-left:-10px;
			}
		</style>
	{% endblock %}
{% endblock %}
</head>
<body>
	<section role="navigation">
		{% block header %}
			<header>
				<a title="Back to Homepage" href="{{ path('admin_index') }}"></a>
				<h1>[Publish - {% render controller("PlantnetDataBundle:Backend/Admin:displayTitle") %}]</h1>
			</header>
		{% endblock %}
		<section id="user-info">
			<img alt="Sample User Avatar" src="{{ asset('bundles/plantnetdata/images/sample_user.png') }}">
			<div>
				<a title="Account Settings and Profile Page" href="#">{{ app.user.username }}</a>
				<em>Administrator</em>
				<ul>
					<li>
						<a rel="tooltip" title="Public Website" href="{{ path('_index') }}" class="button-link">view website</a>
					</li>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% block user_panel %}
							<li>
								<a rel="tooltip" title="Logout" href="{{ path('fos_user_security_logout') }}" class="button-link">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a>
							</li>
						{% endblock %}
					{% endif %}
				</ul>
			</div>
		</section>
		<nav id="main-nav">
			<ul id="nav">
				{% block sidebar %}
					{% render controller("PlantnetDataBundle:Backend/Collection:collection_list") %}
					{% render controller("PlantnetDataBundle:Backend/Admin:page_list") %}
				{% endblock %}
			</ul>
		</nav>
	</section>
	<section id='content' role="main">
		{% block body %}{% endblock %}
	</section>
</body>
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/jquery-1.7.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/hideshow.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/CLEditor/jquery.cleditor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/tablesorter/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/tablesorter/jquery.tablesorter.pager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.easing-1.3.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/leaflet-src.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/leaflet.markercluster.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/full_screen/Control.FullScreen.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/mini_map/Control.MiniMap.js') }}"></script>
	<script src="http://openweathermap.org/js/leaflet-layer.js"></script>
	<script type="text/javascript" src="//malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/plantnetfilemanager/js/script.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#nav a').click(function(e) {
				e.preventDefault();
				var $url = $(this).attr('href');
				if($url!='#')
				{
					$(this).parent().prepend('<div class="page-loading"></div>');
					$.get($url, function(data) {
						$('#content').html(data);
						$(".page-loading").remove();
					});
				}
			});
			(function () {
				if (/Microsoft/.test(navigator.appName)) { return }
				window.onload = function () {
					var menu = document.getElementById('nav');
					var init = menu.offsetTop;
					var docked;
					window.onscroll = function () {
						if (!docked && (menu.offsetTop - scrollTop() < 0)) {
							menu.style.top = 0;
							menu.style.position = 'fixed';
							menu.className = 'docked';
							docked = true;
						} else if (docked && scrollTop() <= init) {
							menu.style.position = 'absolute';
							menu.style.top = init + 'px';
							menu.className = menu.className.replace('docked', 'topbar');
							docked = false;
						}
					};
					(function () {
						var link = document.getElementById('guide-link'),
						menu = document.getElementById('menu'),
						dropdown = document.getElementById('dropdown');
					})();
				};
				function scrollTop() {
					return document.body.scrollTop || document.documentElement.scrollTop;
				}
			})();
		});
	</script>
{% endblock %}  
</html>