<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if IE]><![endif]-->
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="description" content=""/>
	<meta name="author" content="Barbe Julien (AMAP), Affouard Antoine (AMAP)"/>
	<title>{% block title %}Plantnet{% endblock %}</title>
	<link type="image/x-icon" rel="shortcut icon" href="{{ asset('bundles/plantnetdata/images/favicon.ico') }}" />
	{% block stylesheets %}
		{% stylesheets
			filter='less,cssrewrite,?yui_css'
			output='css/admin.css'
			debug=false
			'bundles/plantnetdata/bootstrap/css/less/bootstrap.less'
			'bundles/plantnetdata/css/backend/styles.less'
			'bundles/plantnetdata/bootstrap/css/less/responsive.less'
			'bundles/plantnetdata/css/backend/styles-responsive.less'
		%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		{% endstylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/CLEditor/jquery.cleditor.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/tablesorter/style.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/leaflet.css') }}" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/leaflet.ie.css') }}" />
		<![endif]-->
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.Default.css') }}" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/MarkerCluster.Default.ie.css') }}" />
		<![endif]-->
		<link rel="stylesheet" href="{{ asset('bundles/plantnetdata/leaflet/plugins/mini_map/Control.MiniMap.css') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/plantnetfilemanager/css/style.css') }}" />
		<style type="text/css">
			#map_leaflet{
				width:100%;
				height:450px;
			}
			.leaflet-control-zoom-fullscreen{
				background-image:url({{ asset('bundles/plantnetdata/leaflet/plugins/full_screen/images/icon-fullscreen.png') }});
			}
			.leaflet-control-layers-base label,.leaflet-control-layers-overlays label{
				clear:both;
				text-align:left;
			}
			.leaflet-control-layers-separator{
				clear:both;
			}
			.leaflet-control-container .leaflet-draw{
				margin-left:13px;
			}
			.leaflet-draw .leaflet-bar > a{
				border-radius:4px 4px 4px 4px;
			}
			.legend{
				background:#FFFFFF;
				border-radius:8px;
				overflow:hidden;
			}
			.legend img{
				margin-left:-10px;
			}
		</style>
	{% endblock %}
{% endblock %}
</head>
<body>
	{% block body %}
		<div class="container">
			<div class="masthead">
				{% block header %}
					<header>
						<a title="Back to Homepage" href="{{ path('admin_index') }}"></a>
						<h3 class="muted">
							{% if app.user.dbName %}
								[Publish - {% render controller("PlantnetDataBundle:Backend/Admin:displayTitle") %}]
							{% else %}
								[Publish]
							{% endif %}
						</h3>
					</header>
				{% endblock %}
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul id="menu" class="nav">
								{% if current is not defined %}
									{% set current = '#' %}
								{% endif %}
								<li{% if current == 'index' %} class="active"{% endif %}>
									<a href="{{ path('admin_index') }}">
										<i class="icon-home"></i>
										Home
									</a>
								</li>
								{% if app.user.dbName %}
									<li class="dropdown{% if current == 'pages' %} active{% endif %}">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="icon-edit"></i>
											Edit pages
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
											{% render controller("PlantnetDataBundle:Backend/Admin:page_list") %}
										</ul>
									</li>
									<li class="dropdown{% if current == 'config' %} active{% endif %}">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="icon-wrench"></i>
											Settings
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
											<li>
												<a class="edit ajax" href="{{ path('config_edit') }}">
													<i class="icon-globe"></i>
										            Languages
										        </a>
											</li>
											<li>
												<a class="edit ajax" href="{{ path('config_edit_banner') }}">
													<i class="icon-picture"></i>
													Banner
												</a>
											</li>
										</ul>
									</li>
									{% render controller("PlantnetDataBundle:Backend/Config:language_list") %}
								{% endif %}
								{% if is_granted('ROLE_SUPER_ADMIN') %}
									<li{% if current == 'users' %} class="active"{% endif %}>
										<a title="Users" href="{{ path('admin_users_list') }}">
											<i class="icon-user"></i>
											Users
											{% render controller("PlantnetDataBundle:Backend/User:displayNew") %}
										</a>
									</li>
								{% endif %}
								<li>
									<a title="Public Website" href="{{ path('front_index') }}">
										<i class="icon-leaf"></i>
										View website
									</a>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li class="dropdown{% if current == 'settings' %} active{% endif %}">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="icon-user"></i>
										{{ app.user.username }}
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li class="disabled">
											<a tabindex="-1" href="#">
												<em><strong>Administrator</strong></em>
											</a>
										</li>
										{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
											{% block user_panel %}
												<li>
													<a title="Account Settings and Profile Page" href="{{ path('fos_user_profile_show') }}" class="ajax">
														<i class="icon-wrench"></i>
														Settings
													</a>
												</li>
												<li class="divider"></li>
												<li>
													<a title="Logout" href="{{ path('fos_user_security_logout') }}">
														<i class="icon-off"></i>
														{{ 'layout.logout'|trans([], 'FOSUserBundle')|capitalize }}
													</a>
												</li>
											{% endblock %}
										{% endif %}
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					{% block sidebar %}
						<div class="well wellnav">
							{% if app.user.dbName %}
								<ul id="left-menu" class="nav nav-list">
									{% render controller("PlantnetDataBundle:Backend/Collection:collection_list") %}
								</ul>
							{% endif %}
						</div>
					{% endblock %}
				</div>
				<div class="span8">
					<div id="content" class="well wellcontent">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		{% for flashMessage in app.session.flashbag.get('db_error') %}
			<div class="modal hide fade modal_db_error">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Warning !</h3>
				</div>
				<div class="modal-body">
					<p class="text-error"><i class="icon-warning-sign"></i> {{ flashMessage }}</p>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/jquery-1.7.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/CLEditor/jquery.cleditor.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/tablesorter/jquery.tablesorter.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/tablesorter/jquery.tablesorter.pager.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.easing-1.3.pack.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/leaflet-src.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/marker_cluster/leaflet.markercluster.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/full_screen/Control.FullScreen.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetdata/leaflet/plugins/mini_map/Control.MiniMap.js') }}"></script>
		<script src="http://openweathermap.org/js/leaflet-layer.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetfilemanager/js/jquery.form.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/plantnetfilemanager/js/script.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				if($('.modal_db_error').length>0){
					$('.modal_db_error').modal();
				}
				$('a.ajax').live('click',function(e){
					var $url=$(this).attr('href');
					if($url!='#')
					{
						e.preventDefault();
						if(!$(this).hasClass('sub')){
							$('#menu > li,#left-menu > li').each(function(){
								$(this).removeClass('active');
							});
							$(this).parents('li.dropdown').addClass('active');
						}
						$('#content').prepend('<div class="page-loading"></div>');
						$.get($url,function(data) {
							$('#content').html(data);
							$(".page-loading").remove();
						});
					}
				});
			});
		</script>
	{% endblock %}
</body>
</html>