{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			Collection creation
		</h4>
	</div>
	<p>
		URL field represents the value which is used in the URL to access this resource.
		<br />
		It is recomended to not update this value: it could broken some external links to the resource.
	</p>
	<form action="{{ path('collection_create') }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		<div class="field-form" id="txt-container">
			{{ form_label(form.name) }}
			{{ form_errors(form.name) }}
			{{ form_widget(form.name) }}
		</div>
		<div class="field-form" id="url-container">
			{{ form_label(form.url) }}
			{{ form_errors(form.url) }}
			{{ form_widget(form.url) }}
		</div>
		<div class="field-form">
			{{ form_label(form.description) }}
			{{ form_errors(form.description) }}
			{{ form_widget(form.description, { 'attr': {'class': 'textarea'} }) }}
		</div>
		{{ form_rest(form) }}
		<br />
		<button type="submit" class="btn">Create</button>
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			{% include "PlantnetDataBundle:Backend\\WYSIWYG:cleditor.html.twig" %}
			var isUpdated=false;
			$('#url-container input[type=text]').keyup(function(){
				isUpdated=true;
			});
			$('#txt-container input[type=text]').keyup(function(){
				if(!isUpdated){
					var string=$(this).val();
					//
					string=string.replace(new RegExp("[àáâãäå]",'gi'),"a");
                    string=string.replace(new RegExp("æ",'gi'),"ae");
                    string=string.replace(new RegExp("ç",'gi'),"c");
                    string=string.replace(new RegExp("[èéêë]",'gi'),"e");
                    string=string.replace(new RegExp("[ìíîï]",'gi'),"i");
                    string=string.replace(new RegExp("ñ",'gi'),"n");                            
                    string=string.replace(new RegExp("[òóôõö]",'gi'),"o");
                    string=string.replace(new RegExp("œ",'gi'),"oe");
                    string=string.replace(new RegExp("[ùúûü]",'gi'),"u");
                    string=string.replace(new RegExp("[ýÿ]",'gi'),"y");
					//
					string=string.toLowerCase();
					string=string.replace(/[^a-z0-9]/gi,'-');
					string=string.replace(/--+/g,'-');
					string=string.indexOf('-')==0?string.substring(1):string;
					string=string.replace(/-$/,'');
                    //
					$('#url-container input[type=text]').val(string);
				}
			});
		});
	</script>
{% endblock %}