{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Collection: {{ entity.name }}</em> > edit
		</h4>
	</div>
	<form action="{{ path('collection_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form">
			{{ form_label(edit_form.name) }}
			{{ form_errors(edit_form.name) }}
			{{ form_widget(edit_form.name) }}
		</div>
		<div class="field-form">
			{{ form_label(edit_form.url) }}
			{{ form_errors(edit_form.url) }}
			{{ form_widget(edit_form.url) }}
		</div>
		<div class="field-form">
			{{ form_label(edit_form.description) }}
			{{ form_errors(edit_form.description) }}
			{{ form_widget(edit_form.description, { 'attr': {'class': 'textarea'} }) }}
		</div>
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
	{% set updating = false %}
	{% for module in entity.modules %}
        {% if module.updating == true %}
            {% set updating = true %}
        {% endif %}
        {% for child in module.children %}
        	{% if child.updating == true %}
	            {% set updating = true %}
	        {% endif %}
        {% endfor %}
    {% endfor %}
    {% if updating == false %}
		<form id="form-delete" action="{{ path('collection_delete', { 'id': entity.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button id="btn-delete-1" type="submit" class="btn"><i class="icon-trash"></i> Delete</button>
		</form>
		<div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="icon-remove-sign"></i>
				</button>
				<h3 id="myModalLabel">Delete ?</h3>
			</div>
			<div class="modal-body">
				<p class="text-error">
					<i class="icon-warning-sign"></i> Delete this entity and its associated data ?
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
			</div>
		</div>
	{% else %}
		<p class="text-warning">
            There is a work in progress, delete action is disabled.
        </p>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#btn-delete-1').click(function(event){
				event.preventDefault();
				$('#modal-delete').modal();
				return false;
			});
			$('#btn-delete-2').click(function(){
				$('#form-delete').submit();
			});
			{% include "PlantnetDataBundle:Backend\\WYSIWYG:cleditor.html.twig" %}
		});
	</script>
{% endblock %}