{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Collection: {{ entity.name }}</em> > edit
		</h4>
	</div>
	{% render controller("PlantnetDataBundle:Backend/Collection:language_list", { 'id': entity.id }) %}
	<form action="{{ path('collection_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form">
			{{ form_label(edit_form.name) }}
			{{ form_errors(edit_form.name) }}
			{{ form_widget(edit_form.name) }}
		</div>
		<div class="field-form">
			{{ form_label(edit_form.url) }}
			{{ form_errors(edit_form.url) }}
			{{ form_widget(edit_form.url) }}
		</div>
		<div class="field-form">
			{{ form_label(edit_form.description) }}
			{{ form_errors(edit_form.description) }}
			{{ form_widget(edit_form.description, { 'attr': {'class': 'textarea'} }) }}
		</div>
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
	{% set updating = false %}
	{% for module in entity.modules %}
        {% if module.updating == true %}
            {% set updating = true %}
        {% endif %}
        {% for child in module.children %}
        	{% if child.updating == true %}
	            {% set updating = true %}
	        {% endif %}
        {% endfor %}
    {% endfor %}
    {% if updating == false %}
		<form id="form-delete" action="{{ path('collection_delete', { 'id': entity.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button id="btn-delete-1" type="submit" class="btn"><i class="icon-trash"></i> Delete</button>
		</form>
		<div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="icon-remove-sign"></i>
				</button>
				<h3 id="myModalLabel">Delete ?</h3>
			</div>
			<div class="modal-body">
				<p class="text-error">
					<i class="icon-warning-sign"></i> Delete this entity and its associated data ?
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
			</div>
		</div>
	{% else %}
		<p class="text-warning">
            There is a work in progress, delete action is disabled.
        </p>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#btn-delete-1').click(function(event){
				event.preventDefault();
				$('#modal-delete').modal();
				return false;
			});
			$('#btn-delete-2').click(function(){
				$('#form-delete').submit();
			});
			$(".textarea").cleditor({
				width: '100%', // width not including margins, borders or padding
				height: 300, // height not including margins, borders or padding
				controls: // controls to add to the toolbar
					"bold italic underline strikethrough subscript superscript | font size " +
					"style | color highlight removeformat | bullets numbering | outdent " +
					"indent | alignleft center alignright justify | undo redo | " +
					"rule link unlink | cut copy paste pastetext | print source",
				colors: // colors in the color popup
					"FFF FCC FC9 FF9 FFC 9F9 9FF CFF CCF FCF " +
					"CCC F66 F96 FF6 FF3 6F9 3FF 6FF 99F F9F " +
					"BBB F00 F90 FC6 FF0 3F3 6CC 3CF 66C C6C " +
					"999 C00 F60 FC3 FC0 3C0 0CC 36F 63F C3C " +
					"666 900 C60 C93 990 090 399 33F 60C 939 " +
					"333 600 930 963 660 060 366 009 339 636 " +
					"000 300 630 633 330 030 033 006 309 303",
				fonts: // font names in the font popup
					"Arial,Arial Black,Comic Sans MS,Courier New,Narrow,Garamond," +
					"Georgia,Impact,Sans Serif,Serif,Tahoma,Trebuchet MS,Verdana",
				sizes: // sizes in the font size popup
					"1,2,3,4,5,6,7",
				styles: // styles in the style popup
					[["Paragraph", "<p>"], ["Header 1", "<h1>"], ["Header 2", "<h2>"],
					["Header 3", "<h3>"],  ["Header 4","<h4>"],  ["Header 5","<h5>"],
					["Header 6","<h6>"]],
				useCSS: false, // use CSS to style HTML when possible (not supported in ie)
				docType: // Document type contained within the editor
					'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">',
				docCSSFile: // CSS file used to style the document contained within the editor
					"",
				bodyStyle: // style to assign to document body contained within the editor
					"margin:4px; font:10pt Arial,Verdana; cursor:text"
			});
		});
	</script>
{% endblock %}