<li class="menu-list current">
    <a id="menu-collection" href="#">Collections</a>
    <div class="arrow"></div>
    <ul class="collections toggle">
        {% for collection in collections if (collection.deleting is not defined or collection.deleting != true) %}
            <li>
                <a  class="collection" href="{{ path('admin_collection_view', { 'collection': collection.name }) }}">{{ collection.name }}</a>
                {% if is_granted('ROLE_USER') %}
                    <a  class="edit" href="{{ path('collection_edit', { 'id': collection.id }) }}"></a>
                {% endif %}
                <a  class="view" href="{{ path('admin_collection_view', { 'collection': collection.name }) }}"></a>
                <div class="arrow"></div>
                <ul class="module toggle">
                    {% for module in collection.modules if (module.deleting is not defined or module.deleting != true) %}
                        <li class='row-module sup'>
                            <a class="{{ module.type }}" href="{{ path('admin_module_view', { 'collection': collection.name, 'module': module.name }) }}">{{ module.name }} <b>({{ module.nbrows }})</b></a>
                            {% if is_granted('ROLE_USER') %}
                                <a class="edit" href="{{ path('module_edit', { 'id': module.id }) }}"></a>
                            {% endif %}
                            <a class="view" href="{{ path('admin_module_view', { 'collection': collection.name, 'module': module.name }) }}"></a>
                            <a href="{{ path('admin_module_export_idao', { 'collection': collection.name, 'module': module.name }) }}" class="export">e</a>
                            {% if module.children|length > 0 %}
                                <ul>
                                    {% for child in module.children %}
                                        <li class='row-module'>
                                            <a class="{{ child.type }}" href="{{ path('admin_submodule_view', { 'collection': collection.name, 'module': module.name, 'submodule': child.name }) }}">{{ child.name }} <b>({{ child.nbrows }})</b></a>
                                            {% if is_granted('ROLE_USER') %}
                                                <a class="edit" href="{{ path('module_edit', { 'id': child.id }) }}"></a>
                                            {% endif %}
                                            <a class="view" href="{{ path('admin_submodule_view', { 'collection': collection.name, 'module': module.name, 'submodule': child.name }) }}"></a>
                                            {% if child.type=='image' %}
                                                <a class="images" href="{{ path('plantnet_file_manager_homepage', {'name': child.uploaddir}) }}"></a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% if is_granted('ROLE_USER') %}
                        <li class='add-module'>
                            <a href="{{ path('module_new', { 'id': collection.id, 'type': 'module' }) }}">Add Module</a>
                        </li>
                        {% if collection.modules|length > 0 %}
                            <li class='add-module'>
                                <a href="{{ path('module_new', { 'id': collection.id, 'type': 'submodule' }) }}">Add Sub-module</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            <li>
                <a  class='add-collection' href="{{ path('collection_new') }}">New Collection</a>
            </li>
        {% endif %}
    </ul>
</li>