{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			Collection creation
		</h4>
	</div>
	<form action="{{ path('collection_create') }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		<div class="field-form">
			{{ form_label(form.name) }}
			{{ form_errors(form.name) }}
			{{ form_widget(form.name) }}
		</div>
		<div class="field-form">
			{{ form_label(form.url) }}
			{{ form_errors(form.url) }}
			{{ form_widget(form.url) }}
		</div>
		<div class="field-form">
			{{ form_label(form.description) }}
			{{ form_errors(form.description) }}
			{{ form_widget(form.description, { 'attr': {'class': 'textarea'} }) }}
		</div>
		{{ form_rest(form) }}
		<br />
		<button type="submit" class="btn">Create</button>
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			{% include "PlantnetDataBundle:Backend\\WYSIWYG:cleditor.html.twig" %}
		});
	</script>
{% endblock %}