{% for image in images %}
    {% set imgspe = image.path|basename %}
    {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
    <li class="span3">
        {% set content = '' %}
        {% for property in image.module.properties if property.details == true %}
            {% set content = content ~ '<u>' ~ property.name ~ '</u>' %}
            {% set content = content ~ ': ' ~ image.property[property.id]|replace(',',', ') ~ '<br />' %}
        {% endfor %}
        <div class="thumbnail" data-content="{{ content }}">
            <a href="{{ asset(img) }}" class="grouped_elements thumbn" rel="group">
                <img src="{{ asset(img) | imagine_filter('thumb_180_120') }}" class="img-polaroid new"
                     alt="<strong>{{ image.title1 }} - {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} - {{ image.title3 }}{% endif %}</strong><br />© {{ image.copyright }}"/>
            </a>
            <h5>
                {{ image.title1 }}
                - {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} - {{ image.title3 }}{% endif %}
            </h5>
            <p style="width: 252px; height: 14px;">
                {% if image.copyright is not empty %}
                    © {{ image.copyright }}
                {% endif %}
            </p>
            <div class="access">
                <a class="html-box btn btn-mini" href="#data_{{ image.id }}">
                    <i class="icon-eye-open pop-tooltip" data-toggle="tooltip" title="Zoom"></i>
                </a>
                <div style="display:none">
                    <div id="data_{{ image.id }}" data-src="{{ asset(img) }}">
                        <div id="v_data_{{ image.id }}" class="viewer"></div>
                        <div class="control-panel">
                            <div class="btn-group">
                                <a id="v_data_{{ image.id }}_in" href="#" class="btn">
                                    <i class="icon-plus-sign"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_out" href="#" class="btn">
                                    <i class="icon-minus-sign"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_orig" href="#" class="btn">
                                    <i class="icon-fullscreen"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_fit" href="#" class="btn">
                                    <i class="icon-screenshot"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_right" href="#" class="btn">
                                    <i class="icon-retweet"></i>
                                </a>
                            </div>
                            <div class="input-append">
                                <input type="text" id="v_data_{{ image.id }}_percent" value="100"
                                       class="input-mini uneditable-input" readonly="readonly"/>
                                <span class="add-on"><strong>%</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
{% for image in imagesurl %}
    {% set img = image.path %}
    <li class="span3">
        {% set content = '' %}
        {% for property in image.module.properties if property.details == true %}
            {% set content = content ~ '<u>' ~ property.name ~ '</u>' %}
            {%  if image.property[property.id] is defined %}
                {% set content = content ~ ': ' ~ image.property[property.id]|replace(',',', ') ~ '<br />' %}
            {% endif %}
        {% endfor %}
        <div class="thumbnail" data-content="{{ content }}">
            <a href="{{ asset(img) }}" class="grouped_elements thumbn" rel="group">
                <img src="/geturlimage.php?src={{ asset(img) |url_encode }}&coll={{ collection.name|url_encode }}&mod={{ module.name |url_encode }}&ssmod={{ ssmodulenom|url_encode }}&width=180&height=120"
                     class="img-polaroid new"
                     alt="<strong>{{ image.title1 }} - {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} - {{ image.title3 }}{% endif %}</strong><br />© {{ image.copyright }}"/>
            </a>
            <h5>
                {{ image.title1 }}
                - {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} - {{ image.title3 }}{% endif %}
            </h5>
            <p style="width: 252px; height: 14px;">
                {% if image.copyright is not empty %}
                    © {{ image.copyright }}
                {% endif %}
            </p>
            <div class="access">
                <a class="html-box btn btn-mini" href="#data_{{ image.id }}">
                    <i class="icon-eye-open pop-tooltip" data-toggle="tooltip" title="Zoom"></i>
                </a>
                <div style="display:none">
                    <div id="data_{{ image.id }}" data-src="{{ asset(img) }}">
                        <div id="v_data_{{ image.id }}" class="viewer"></div>
                        <div class="control-panel">
                            <div class="btn-group">
                                <a id="v_data_{{ image.id }}_in" href="#" class="btn">
                                    <i class="icon-plus-sign"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_out" href="#" class="btn">
                                    <i class="icon-minus-sign"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_orig" href="#" class="btn">
                                    <i class="icon-fullscreen"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_fit" href="#" class="btn">
                                    <i class="icon-screenshot"></i>
                                </a>
                                <a id="v_data_{{ image.id }}_right" href="#" class="btn">
                                    <i class="icon-retweet"></i>
                                </a>
                            </div>
                            <div class="input-append">
                                <input type="text" id="v_data_{{ image.id }}_percent" value="100"
                                       class="input-mini uneditable-input" readonly="readonly"/>
                                <span class="add-on"><strong>%</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
{% if (next > 0) or (nexturl > 0) %}
    <li>
        <a href="#" class="end_of_gallery_load"></a>
    </li>
    <li>
        <a href="{{ path('front_details_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'id': plantunit.id }) }}/page{{ next }}/pageurl{{ nexturl }}"
           id="end_of_gallery"></a>
    </li>
{% endif %}