{% set imgs = [] %}
{% set nb_img = 9 %}
{% for tmp_mod_key, tmp_mod in images if imgs|length < nb_img %}
    {% if tmp_mod_key == module.id %}
        {% for image in tmp_mod if imgs|length < nb_img %}
            {% set imgspe = image.path|basename %}
            {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
            {% if img|fileexists %}
                {% set imgs = imgs|merge([image]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


<!-- pour les images locales distantes -->
{% set imgsurl = [] %}
{% for tmp_mod_key, tmp_mod in imagesurl if imgsurl|length < nb_img %}
    {% if tmp_mod_key == module.id %}
        {% for image in tmp_mod if imgsurl|length < nb_img %}
            {% set imgsurl = imgsurl|merge([image]) %}
        {% endfor %}
    {% endif %}
{% endfor %}
<h3>
    <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module':module.url }) }}">
        {{ module.name }}
    </a>
    <small class="muted">
        {{ module.nbrows }} {{ "line-entities"|trans }}
    </small>
</h3>
<div class="media">
    {% if (imgs|length > 0) or (imgsurl|length > 0) %}
        <div class="pull-right">
            {% for image in imgs %}
                {% set imgspe = image.path|basename %}
                {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
                <img src="{{ asset(img) | imagine_filter('thumb_130_75') }}" alt="{{ image.copyright }}" class="img-polaroid img-tooltip img_module" data-toggle="tooltip" title="{{ image.title1 }} {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} {{ image.title3 }}{% endif %}" width="130" height="75" />
            {% endfor %}
            {% if (imgs|length > 0) and (imgsurl|length > 0 ) %}
                <!-- module_presentation.html--> <hr>
            {% endif %}
            {% for image in imgsurl %}
                {% set img = image.path %}
                <img src="/geturlimage.php?src={{ asset(img) |url_encode }}&coll={{ imgurl_coll|url_encode }}&mod={{ imgurl_mod|url_encode }}&ssmod={{ imgurl_ssmod|url_encode }}&width=130&height=75"
                     class="img-polaroid img-tooltip img_module" data-toggle="tooltip" title="{{ image.title1 }} {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} {{ image.title3 }}{% endif %}" width="130" height="75" />
            {% endfor %}

        </div>
    {% endif %}
    <div class="media-body txt">
        <div class="well">
            <div>
                {% autoescape false %}
                    {{ module.description }}
                {% endautoescape %}
            </div>
            <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module':module.url }) }}" class="btn btn-small pull-right">
                {{ "line-details"|trans|capitalize }}
            </a>
            {% if collection.glossary is not empty %}
                <a href="{{ path('front_glossary', { 'project': project, 'collection': collection.url }) }}" class="btn btn-small pull-right">
                    {{ "line-glossary"|trans|capitalize }}
                </a>
            {% endif %}
            <div class="clear"></div>
            <div>
                {% for child in module.children if (child.type == 'image' and child.deleting != true and child.wsonly != true) %}
                    <div>
                        <i class="icon-camera"></i>
                        <h5>
                            <a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
                                {{ child.name }}
                            </a>
                        </h5>
                        <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-images"|trans }}">
                            {{ child.nbrows }}
                        </span>
                    </div>
                {% endfor %}
                {% for child in module.children if (child.type == 'imageurl' and child.deleting != true and child.wsonly != true) %}
                    <div>
                        <i class="icon-camera"></i>
                        <h5>
                            <a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
                                {{ child.name }}
                            </a>
                        </h5>
                        <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-images-distantes"|trans }}">
                            {{ child.nbrows }}
                        </span>
                    </div>
                {% endfor %}
                {% for child in module.children if (child.type == 'locality' and child.deleting != true and child.wsonly != true) %}
                    <div>
                        <i class="icon-map-marker"></i>
                        <h5>
                            <a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
                                {{ child.name }}
                            </a>
                        </h5>
                        <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-locations"|trans }}">
                            {{ child.nbrows }}
                        </span>
                    </div>
                {% endfor %}
                {% if module.taxonomy == true %}
                    <div>
                        <i class="icon-tasks"></i>
                        <h5>
                            <a href="{{ path('front_module_taxo', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
                                {{ "line-taxonomy"|trans|capitalize }}
                            </a>
                        </h5>
                    </div>
                {% endif %}
                <div>
                    <h5>
                        <a href="{{ path('front_module_search', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
                            <i class="icon-search"></i>
                            {{ "tab-search"|trans|capitalize }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
