<table class="table table-hover table-condensed embedded">
    {% for taxon in taxons %}
        <tr>
            <td>
               <span class="taxo-{{ taxon.level }}">
                    {% if taxon.haschildren == true %}
                        <a href="{{ path('front_module_taxo_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}" id="t{{ taxon.id }}" class="display-sub{% if taxon.issynonym == true %} muted{% endif %}">
                            <i class="arrow icon-chevron-right"></i>
                            {{ taxon.name }}
                        </a>
                    {% else %}
                        <i class="icon-minus"></i>
                        {{ taxon.name }}
                    {% endif %}
                    {% if taxon.synonyms|length > 0 %}
                        {% set syns = [] %}
                        {% for syn in taxon.synonyms %}
                            {% set syns = syns|merge([syn.identifier]) %}
                        {% endfor %}
                        <span class="icon-random syn-pop" data-original-title="<strong>{% if taxon.synonyms|length >= 2 %}{{ "line-synonyms"|trans|capitalize }}{% else %}{{ "line-synonym"|trans|capitalize }}{% endif %}</strong>" data-content="<div class='syn-pop-content'><ul><li>{{ syns|join('</li><li>') }}</li></ul></div>"></span>
                    {% endif %}
                </span>
            </td>
            <td class="span2 middle">
                <span class="badge">
                    {{ taxon.nbpunits }}
                    <i class="icon-leaf"></i>
                </span>
            </td>
            <td class="span2 middle">
                <a href="{{ path('front_module_taxo_view', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}" class="btn btn-mini">
                    <i class="icon-list"></i></a>
                {% if taxon.hasimages %}
                    <a href="{{ path('front_module_taxo_view_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}" class="btn btn-mini">
                        <i class="icon-camera"></i></a>
                {% else %}
                    <a href="#" class="btn btn-mini disabled">
                        <i class="icon-camera"></i></a>
                {% endif %}
                {% if taxon.haslocations %}
                    <a href="{{ path('front_module_taxo_view_map', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}" class="btn btn-mini">
                        <i class="icon-map-marker"></i></a>
                {% else %}
                    <a href="#" class="btn btn-mini disabled">
                        <i class="icon-map-marker"></i></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td id="sub-{{ taxon.id }}" colspan="3" class="sub-content"></td>
        </tr>
    {% endfor %}
</table>