{% set imgs = [] %}
{% set nb_img = 9 %}
{% for child in module.children if (child.type == 'image' and child.deleting != true and imgs|length < nb_img) %}
    {% if child.nbrows > 0 and imgs|length < nb_img %}
        {% for image in child.images if imgs|length < nb_img %}
            {% set imgspe = image.path|basename %}
            {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
            {% if img|fileexists %}
                {% set imgs = imgs|merge([image]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
<h3>
    <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module':module.url }) }}">
        {{ module.name }}
    </a>
    <small class="muted">
        {{ module.nbrows }} {{ "line-entities"|trans }}
    </small>
</h3>
<div class="media">
    {% if imgs|length > 0 %}
        <div class="pull-right">
            {% for image in imgs %}
                {% set imgspe = image.path|basename %}
                {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
                <img src="{{ asset(img) | imagine_filter('thumb_130_75') }}" alt="{{ image.copyright }}" class="img-polaroid img-tooltip img_module" data-toggle="tooltip" title="{{ image.title1 }} {{ image.title2 }}{% if image.title3 is defined and image.title3 is not null %} {{ image.title3 }}{% endif %}" width="130" height="75" />
            {% endfor %}
        </div>
    {% endif %}
    <div class="media-body txt">
        <div class="well">
            <div>
                {% autoescape false %}
                    {{ module.description }}
                {% endautoescape %}
            </div>
            <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module':module.url }) }}" class="btn btn-small pull-right">
                {{ "line-details"|trans|capitalize }}
            </a>
            {% if collection.glossary is not empty %}
                <a href="{{ path('front_glossary', { 'project': project, 'collection': collection.url }) }}" class="btn btn-small pull-right">
                    {{ "line-glossary"|trans|capitalize }}
                </a>
            {% endif %}
            <div class="clear"></div>
            <div>
                {% for child in module.children if (child.type == 'image' and child.deleting != true) %}
                    <div>
                        <i class="icon-camera"></i>
                        <h5>
                            <a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
                                {{ child.name }}
                            </a>
                        </h5>
                        <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-images"|trans }}">
                            {{ child.nbrows }}
                        </span>
                    </div>
                {% endfor %}
                {% for child in module.children if (child.type == 'locality' and child.deleting != true) %}
                    <div>
                        <i class="icon-map-marker"></i>
                        <h5>
                            <a href="{{ path('front_submodule', { 'project': project, 'collection': collection.url, 'module': module.url, 'submodule': child.url }) }}">
                                {{ child.name }}
                            </a>
                        </h5>
                        <span class="badge pop-tooltip" data-toggle="tooltip" title="{{ child.nbrows }} {{ "line-locations"|trans }}">
                            {{ child.nbrows }}
                        </span>
                    </div>
                {% endfor %}
                {% if module.taxonomy == true %}
                    <div>
                        <i class="icon-tasks"></i>
                        <h5>
                            <a href="{{ path('front_module_taxo', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
                                {{ "line-taxonomy"|trans|capitalize }}
                            </a>
                        </h5>
                    </div>
                {% endif %}
                <div>
                    <h5>
                        <a href="{{ path('front_module_search', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">
                            <i class="icon-search"></i>
                            {{ "tab-search"|trans|capitalize }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>