{% extends "PlantnetUserBundle::layout.html.twig" %}
{% block fos_user_content %}
	<h2>Please sign in</h2>
	{% if error %}
	    <div class="error">{{ error ? "Bad credentials" : "" }}</div>
	{% endif %}
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="password" id="password" name="_password" required="required" />
	    <br />
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me" class="label-inline">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	    <br />
	    <br />
	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn" />
	</form>
	<br />
	<a href="{{ path('fos_user_resetting_request') }}" class="forgot">Forgot Password ?</a>
	<a href="{{ path('fos_user_registration_register') }}" class="pull-right">Register</a>
{% endblock fos_user_content %}