{% extends "PlantnetDataBundle:Frontend_6:layout.html.twig" %}
{% block title config.name ~ ' - ' ~ "tab-search"|trans|capitalize ~ ' - Pl@ntnet' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block header %}<h1>{{ "tab-search"|trans|capitalize }}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('front_project', {'project': project}) }}">{{ config.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ "tab-search"|trans|capitalize }}
        </li>
    </ul>
{% endblock %}
{% block row %}
    <blockquote class="pull-right">
        <p>: {{ query }}</p>
        <small>
            {{ paginator|length }}
            {% if paginator|length > 1 %}
                {{ "line-results"|trans }}
            {% else %}
                {{ "line-result"|trans }}
            {% endif %}
        </small>
    </blockquote>
    {% if paginator|length > 0 %}
        {% if paginator.haveToPaginate() %}
            <div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap_translated', {'proximity': 2, 'prev_message': '←', 'next_message': '→',}) }}
            </div>
        {% endif %}
        {% for punit in paginator if (punit.module.deleting != true and punit.module.wsonly != true) %}
            <p>
                <a href="{{ path('front_details', { 'project': project, 'collection': punit.module.collection.url, 'module': punit.module.url, 'id': punit.identifier }) }}">
                    {{ punit.title1 }} - {{ punit.title2 }}
                    {% if punit.title3 is defined and punit.title3 is not null %}
                        - {{ punit.title3 }}
                    {% endif %}
                </a>
                {% if punit.hasimages or punit.hasimagesurl %}
                    <i class="icon-camera"></i>
                {% endif %}
                {% if punit.haslocations %}
                    <i class="icon-map-marker"></i>
                {% endif %}
                <span class="muted">
                    [ {{ punit.module.name }} ]
                </span>
            </p>
        {% endfor %}
        {% if paginator.haveToPaginate() %}
            <div class="pagerfanta">
                {{ pagerfanta(paginator, 'twitter_bootstrap_translated', {'proximity': 2, 'prev_message': '←', 'next_message': '→',}) }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}