{% extends "PlantnetDataBundle:Frontend_5:layout.html.twig" %}
{% set tmp_title = '' %}
{% if plantunit.title3 is defined and plantunit.title3 is not null %}
    {% set tmp_title = ' - ' ~ plantunit.title3 %}
{% endif %}
{% block title plantunit.title1 ~ ' - ' ~ plantunit.title2 ~ tmp_title %}
{% block meta %}
    <meta name="description" content="{{ plantunit.title1 }} - {{ plantunit.title2 }}{% if plantunit.title3 is defined and plantunit.title3 is not null %} - {{ plantunit.title3 }}{% endif %}{% if module.taxonomy == true and plantunit.taxonsrefs|length > 0 %}{% for taxon in plantunit.taxonsrefs if taxon.issynonym == false %}. {{ taxon.label }}: {{ taxon.name }}{% endfor %}{% endif %}{% for property in module.properties if property.id in display and plantunit.attributes[property.id] is not null %}. {{ property.name }}: {% autoescape false %}{{ plantunit.attributes[property.id]|striptags|cleandesc }}{% endautoescape %}{% endfor %}" />
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/iviewer-master/jquery.iviewer.css') }}" type="text/css" />
    {% if plantunit.haslocations == true %}
        {% include 'PlantnetDataBundle:Frontend_5:leaflet.css.html.twig' %}
    {% endif %}
{% endblock %}
{% block header %}<h1>{{ config.name }} - {{ plantunit.title1 }} - {{ plantunit.title2 }}{% if plantunit.title3 is defined and plantunit.title3 is not null %} - {{ plantunit.title3 }}{% endif %}</h1>{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('front_project', {'project': project}) }}">{{ config.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('front_module', { 'project': project, 'collection': collection.url, 'module': module.url }) }}">{{ module.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ plantunit.title1 }} - {{ plantunit.title2 }}{% if plantunit.title3 is defined and plantunit.title3 is not null %} - {{ plantunit.title3 }}{% endif %}
            <span class="divider">></span>
            {{ "line-details"|trans }}
        </li>
    </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend_5:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <section id="details">
        {% if module.taxonomy == true and plantunit.taxonsrefs|length > 0 %}
            <div>
                <h5>{{ "line-taxonomy"|trans|capitalize }}</h5>
                {% for taxon in plantunit.taxonsrefs if taxon.issynonym == false %}
                    <div class="row">
                        <div class="span2">{{ taxon.label }}</div>
                        <div class="span7">
                            <a href="{{ path('front_module_taxo_details', { 'project': project, 'collection': collection.url, 'module': module.url, 'taxon': taxon.identifier }) }}">
                                {{ taxon.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if tab_others_groups|length > 0 %}
            <br />
            {% for group in tab_others_groups %}
                <div class="accordion other" id="accordion{{ group.0.id }}">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ group.0.id }}" href="#collapse{{ group.0.id }}">
                                <i class="icon-chevron-right"></i>
                                <strong>{{ group.0.name }}</strong>
                            </a>
                        </div>
                        <div id="collapse{{ group.0.id }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped table-hover">
                                    {% set not_display = [] %}
                                    <tr>
                                        {% for property in group.0.properties %}
                                            {% if property.details == true %}
                                                <td>
                                                    {{ property.name }}
                                                </td>
                                            {% else %}
                                                {% set hidden = loop.index %}
                                                {% set not_display = not_display|merge([hidden]) %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% for other in group.1 %}
                                        <tr>
                                            {% for prop in other.property %}
                                                {% if loop.index not in not_display %}
                                                    <td>
                                                        {{ prop }}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div>
            <h5>{{ "line-details"|trans|capitalize }}</h5>
            <table class="table table-striped table-bordered table-hover table-condensed table-width-fix">
                {% for property in module.properties if property.id in display %}
                    <tr>
                        <td class="first">
                            <span class="text-info">{{ property.name }}</span>
                        </td>
                        <td class="second">
                            {% autoescape false %}{{ plantunit.attributes[property.id] }}{% endautoescape %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if plantunit.haslocations == true %}
            <div>
                <h5>{{ "line-map"|trans|capitalize }}</h5>
                {# LEAFLET MAP #}
                <div id="map"></div>
            </div>
        {% endif %}
        {% if plantunit.hasimages == true %}
            <div class="gallery">
                <h5>{{ "line-gallery"|trans|capitalize }}</h5>
                <ul id="list_gallery" class="thumbnails per3">
                    <li>
                        <a href="#" class="end_of_gallery_load"></a>
                    </li>
                    <li>
                        <a href="{{ path('front_details_gallery', { 'project': project, 'collection': collection.url, 'module': module.url, 'id': plantunit.id }) }}/page0" id="end_of_gallery"></a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.easing-1.3.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/iviewer-master/jquery.iviewer.min.js') }}"></script>
    <script type="text/javascript">
        function isOnScreen(elem)
        {
            var docViewTop=$(window).scrollTop();
            var docViewBottom=docViewTop+$(window).height();
            var elemTop=$(elem).offset().top;
            return ((elemTop<=docViewBottom)&&(elemTop>=docViewTop));
        }
        function displayGallery()
        {
            if($('#end_of_gallery').length>0&&isOnScreen($('#end_of_gallery'))){
                var data_url=$('#end_of_gallery').attr('href');
                $('#end_of_gallery').parents('li').remove();
                $.ajax({
                    url:data_url
                }).done(function(data){
                    $('.end_of_gallery_load').parents('li').remove();
                    $('#list_gallery').append(data);
                    $('.pop-tooltip').tooltip();
                    $('a.grouped_elements').fancybox({
                        'transitionIn':'elastic',
                        'transitionOut':'elastic',
                        'speedIn':200,
                        'speedOut':200,
                        'enableEscapeButton':true,
                        'hideOnContentClick':true,
                        'titlePosition':'inside',
                        'overlayShow':true,
                        'titleFromAlt':true
                    });
                    $('a.grouped_elements').removeClass('grouped_elements');
                    $('a.html-box').fancybox({
                        onStart:function(){
                            var width=$(window).width();
                            var height=$(window).height();
                            $('.viewer').width(Math.round(width*85/100));
                            $('.viewer').height(Math.round(height*75/100));
                        },
                        onComplete:function(){
                            var id=$(this).attr('href');
                            var img_src=$(id).attr('data-src');
                            id=id.replace('#','v_');
                            var iv=$('#'+id).iviewer({
                                src:img_src,
                                ui_disabled:true,
                                zoom:'fit',
                                zoom_min:25,
                                zoom_max:1000,
                                onAfterZoom:function(ev,new_zoom){
                                    $('#'+id+'_percent').val(Math.round(new_zoom));
                                }
                            });
                            $('#'+id+'_in').click(function(event){
                                event.preventDefault();
                                iv.iviewer('zoom_by',1);
                            });
                            $('#'+id+'_out').click(function(event){
                                event.preventDefault();
                                iv.iviewer('zoom_by',-1);
                            });
                            $('#'+id+'_orig').click(function(event){
                                event.preventDefault();
                                iv.iviewer('set_zoom',100);
                            });
                            $('#'+id+'_fit').click(function(event){
                                event.preventDefault();
                                iv.iviewer('fit');
                            });
                            $('#'+id+'_right').click(function(event){
                                event.preventDefault();
                                iv.iviewer('angle',90,false);
                            });
                        }
                    });
                    $('.gallery img.new').addClass('blind');
                    $('.gallery img.new').one('load',function(){
                        var img=$(this);
                        img.fadeTo(200,1);
                    }).each(function(){
                        if(this.complete){
                            $(this).load();
                        }
                    });
                    $('.gallery img.new').removeClass('new');
                    $('a.html-box').removeClass('html-box');
                    $('div.thumbnail').popover({
                        html:true,
                        placement:'left',
                        trigger:'hover'
                    });
                });
            }
        }
        $(document).ready(function(){
            $('.collapse').on('show',function(){
                $(this).parent().find('.icon-chevron-right').removeClass('icon-chevron-right').addClass('icon-chevron-down');
            }).on('hide',function(){
                $(this).parent().find('.icon-chevron-down').removeClass('icon-chevron-down').addClass('icon-chevron-right');
            });
            displayGallery();
            $(window).scroll(function(){
                displayGallery();
            });
        });
    </script>
    {% if plantunit.haslocations == true %}
        {% set locations = plantunit.locations %}
        {% include 'PlantnetDataBundle:Frontend_5:leaflet.js.html.twig' %}
    {% endif %}
{% endblock %}