{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Config template</em> > Edit
		</h4>
	</div>
	<p>
		The template will be applied for each available language.
	</p>
	<form action="{{ path('config_update_template') }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form rd_chk">
			{{ form_label(edit_form.hasimageprotection) }}
			{{ form_errors(edit_form.hasimageprotection) }}
			{{ form_widget(edit_form.hasimageprotection) }}
		</div>
		<br />
		<div class="field-form">
			{{ form_label(edit_form.template) }}
			{{ form_errors(edit_form.template) }}
			{{ form_widget(edit_form.template) }}
		</div>
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
	<table class="table table-striped table-bordered">
		<tr>
			<th></th>
			<th>
				<span class="tab-tooltip" title="Submenu position">
					Submenu
				</span>
			</th>
			<th>
				<span class="tab-tooltip" title="Display custom banner">
					Banner
				</span>
			</th>
			<th>
				<span class="tab-tooltip" title="Collection level display on website">
					Collection level
				</span>
			</th>
		</tr>
		{% for view in views %}
			<tr>
				<td><strong>{{ view }}</strong></td>
				{% autoescape false %}
					{{ descriptions[view] }}
				{% endautoescape %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			$("a.grouped_elements").fancybox({
				'scrolling':'yes',
				'autoScale':false,
				'transitionIn':'elastic',
				'transitionOut':'elastic',
				'speedIn':200,
				'speedOut':200,
				'enableEscapeButton':true,
				'hideOnContentClick':true,
				'titlePosition':'inside'
			});
			$('.tpl-popover').popover({
				html:true,
				placement:'left',
				trigger:'hover'
			});
			$('.tab-tooltip').tooltip();
			$('.example').popover({
				html:true,
				placement:'left',
				trigger:'hover'
			});
		});
	</script>
{% endblock %}