{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Config banner</em> > Edit
		</h4>
	</div>
	<p>
		Recommended image size: 1200 px * 208 px.
		<br />
		If a banner already exists, it will be replaced with the new image file.
	</p>
	{% if entity.filepath %}
		<div>
			<p>Current banner</p>
			<img src="/{{ entity.filepath }}?{{ random(99999) }}" alt="banner" />
		</div>
		<form id="form-delete" action="{{ path('config_delete_banner') }}" method="post">
			{{ form_widget(delete_form) }}
			<button id="btn-delete-1" type="submit" class="btn"><i class="icon-trash"></i> Delete banner</button>
		</form>
		<div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="icon-remove-sign"></i>
				</button>
				<h3 id="myModalLabel">Delete ?</h3>
			</div>
			<div class="modal-body">
				<p class="text-error">
					<i class="icon-warning-sign"></i> Delete this banner ?
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
			</div>
		</div>
	{% endif %}
	<form action="{{ path('config_update_banner') }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form rd_chk">
			{{ form_label(edit_form.file) }}
			{{ form_errors(edit_form.file) }}
			{{ form_widget(edit_form.file) }}
		</div>
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#btn-delete-1').click(function(event){
				event.preventDefault();
				$('#modal-delete').modal();
				return false;
			});
			$('#btn-delete-2').click(function(){
				$('#form-delete').submit();
			});
		});
	</script>
{% endblock %}