{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Config languages</em> > Edit
		</h4>
	</div>
	<p>
		The default language will be displayed by default to users and will be applied to each default element created on this dashboard (collections, modules, ...).
		<br />
		<br />
		Other available languages ​​will be used to create additional elements in these languages.
		<br />
		Then, they will be available as translation on the website.
		<br />
		<br />
		<strong class="text-error">After the initial configuration, it is recommended to not change these settings.</strong>
	</p>
	<form action="{{ path('config_update') }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		<div class="field-form rd_chk">
			{{ form_label(edit_form.defaultlanguage) }}
			{{ form_errors(edit_form.defaultlanguage) }}
			{{ form_widget(edit_form.defaultlanguage, {'attr': {'class': 'span1'}}) }}
		</div>
		<div class="field-form rd_chk">
			{{ form_label(edit_form.availablelanguages) }}
			<br />
			{{ form_errors(edit_form.availablelanguages) }}
			{{ form_widget(edit_form.availablelanguages) }}
		</div>
		{% if entity.availablelanguages|length > 0 %}
			<br />
			<p>
				Current available languages:
				{% for language in entity.availablelanguages %}
					<strong>{{ language }} </strong>
				{% endfor %}
			</p>
		{% endif %}
		{{ form_rest(edit_form) }}
		<br />
		<button type="submit" class="btn">Update</button>
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}