{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Users</em> > list
        </h4>
    </div>
    <ul class="breadcrumb">
        <li class="active">
            <i class="icon-user"></i>
            User list
        </li>
    </ul>
    <table class="table table-striped table-hover table-condensed">
    	<tr>
    		<th>User</th>
    		<th>eMail</th>
    		<th>Role</th>
    		<th>Database</th>
    	</tr>
        {% set waiting = false %}
    	{% for user in users %}
            {% if app.user.usernameCanonical == user.usernameCanonical %}
                <tr class="info">
            {% elseif user.roles.0 == 'ROLE_USER' %}
                {% set waiting = true %}
                <tr class="error">
            {% else %}
                <tr>
            {% endif %}
				<td>
                    <a href="{{ path('admin_users_edit', { 'username': user.usernameCanonical }) }}">
                        {{ user.usernameCanonical }}
                    </a>
                </td>
				<td>{{ user.emailCanonical }}</td>
    			<td>{{ user.roles.0 }}</td>
    			<td>
                    {% if user.dbName %}
    				    {{ user.dbName }}
                    {% else %}
                        -
                    {% endif %}
    			</td>
    		</tr>
    	{% endfor %}
    </table>
    {% if waiting %}
        <table class="table table-striped table-condensed">
            <tr class="error"><td>Waiting for validation</td></tr>
        </table>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}