{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            Edit user: {{ user.usernameCanonical }}
        </h4>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('admin_users_list') }}">
                <i class="icon-user"></i>
                User list
            </a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            Edit user
        </li>
    </ul>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>User:</td>
            <td>{{ user.usernameCanonical }}</td>
        </tr>
        <tr>
            <td>eMail:</td>
            <td>{{ user.emailCanonical }}</td>
        </tr>
        <tr>
            <td>Database name:</td>
            {% if user.dbName %}
                <td>{{ user.dbName }}</td>
            {% else %}
                <td>{{ user.dbNameUq }}</td>
            {% endif %}
        </tr>
    </table>
    {# SUPER ADMIN [SWITCH DATABASE] #}
    {% if role == 'superadmin' and app.user.usernameCanonical == user.usernameCanonical %}
        <form action="{{ path('admin_users_switch', { 'username': user.usernameCanonical }) }}" method="post">
            {{ form_widget(switch_form) }}
            <button type="submit" class="btn">Switch database</button>
        </form>
    {% endif %}
    {# USER [WAITING FOR VALIDATION] #}
    {% if role == 'user' %}
        {% if enable_super_form is not null %}
            {# WAITING FOR SUPER ADMIN ACCOUNT #}
            <form id="form-enable-super" action="{{ path('admin_users_enable_super_admin', { 'username': user.usernameCanonical }) }}" method="post">
                {{ form_widget(enable_super_form) }}
                <button id="btn-enable-super-1" type="submit" class="btn">
                    <i class="icon-ok"></i>
                    Enable the Super Admin account
                </button>
            </form>
            <div id="modal-enable-super" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove-sign"></i>
                    </button>
                    <h3 id="myModalLabel3">Enable ?</h3>
                </div>
                <div class="modal-body">
                    <p class="text-error">
                        <i class="icon-warning-sign"></i> Enable this Super Admin account ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn" id="btn-enable-super-2"><i class="icon-ok"></i> Yes</button>
                </div>
            </div>
        {% else %}
            {# WAITING FOR ADMIN ACCOUNT #}
            <form id="form-enable" action="{{ path('admin_users_enable', { 'username': user.usernameCanonical }) }}" method="post">
                {{ form_widget(enable_form) }}
                <button id="btn-enable-1" type="submit" class="btn">
                    <i class="icon-ok"></i>
                    Enable the user account
                </button>
            </form>
            <div id="modal-enable" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove-sign"></i>
                    </button>
                    <h3 id="myModalLabel2">Enable ?</h3>
                </div>
                <div class="modal-body">
                    <p class="text-error">
                        <i class="icon-warning-sign"></i> Enable this user account ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn" id="btn-enable-2"><i class="icon-ok"></i> Yes</button>
                </div>
            </div>
        {% endif %}
        {# WAITING FOR ACCOUNT BUT DELETE #}
        <form id="form-delete" action="{{ path('admin_users_delete', { 'username': user.usernameCanonical }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button id="btn-delete-1" type="submit" class="btn">
                <i class="icon-trash"></i>
                Delete the user account
            </button>
        </form>
        <div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove-sign"></i>
                </button>
                <h3 id="myModalLabel">Delete ?</h3>
            </div>
            <div class="modal-body">
                <p class="text-error">
                    <i class="icon-warning-sign"></i> Delete this user account ?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
                <button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if role == 'user' %}
        <script type="text/javascript">
            $(document).ready(function(){
                if($('#btn-delete-1').length>0){
                    $('#btn-delete-1').click(function(event){
                        event.preventDefault();
                        $('#modal-delete').modal();
                        return false;
                    });
                    $('#btn-delete-2').click(function(){
                        $('#form-delete').submit();
                    });
                }
                if($('#btn-enable-1').length>0){
                    $('#btn-enable-1').click(function(event){
                        event.preventDefault();
                        $('#modal-enable').modal();
                        return false;
                    });
                    $('#btn-enable-2').click(function(){
                        $('#form-enable').submit();
                    });
                }
                if($('#btn-enable-super-1').length>0){
                    $('#btn-enable-super-1').click(function(event){
                        event.preventDefault();
                        $('#modal-enable-super').modal();
                        return false;
                    });
                    $('#btn-enable-super-2').click(function(){
                        $('#form-enable-super').submit();
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}