{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            User list
        </h4>
    </div>
    <ul class="breadcrumb">
        <li class="active">
            <i class="icon-user"></i>
            User list
        </li>
    </ul>
    <table class="table table-striped table-hover table-condensed">
    	<tr>
    		<th>User</th>
    		<th>eMail</th>
    		<th>Role</th>
    		<th>Database</th>
    	</tr>
    	{% for user in users %}
    		<tr{% if app.user.usernameCanonical == user.usernameCanonical %} class="info"{% endif %}>
				<td>
                    <a href="{{ path('admin_users_edit', { 'username': user.usernameCanonical }) }}">
                        {{ user.usernameCanonical }}
                    </a>
                </td>
				<td>{{ user.emailCanonical }}</td>
    			<td>{{ user.roles.0 }}</td>
    			<td>
                    {% if user.dbName %}
    				    {{ user.dbName }}
                    {% else %}
                        -
                    {% endif %}
    			</td>
    		</tr>
    	{% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}