<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{#<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->#}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %}{% endblock %}
		{#<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->#}
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link type="image/x-icon" rel="shortcut icon" href="{{ asset('bundles/plantnetdata/images/favicon.ico') }}" />
		<title>{% block title %}Pl@ntnet{% endblock %}</title>
		{% block stylesheets %}
			{% stylesheets
				filter='less,cssrewrite,?yui_css'
				output='css/publish_5.css'
				debug=false
				'bundles/plantnetdata/bootstrap/css/less/bootstrap.less'
				'bundles/plantnetdata/css/frontend_5/styles.less'
				'bundles/plantnetdata/css/frontend_5/map.less'
				'bundles/plantnetdata/bootstrap/css/less/responsive.less'
				'bundles/plantnetdata/css/frontend_5/styles-responsive.less'
			%}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
			{% endstylesheets %}
			{% if config.filepath %}
				<style type="text/css">
					#banner{
						background-image:url(/{{ config.filepath }});
					}
				</style>
			{% endif %}
		{% endblock %}
	{% endblock %}
	{% include "PlantnetDataBundle:Analytics:analyticstracking.html.twig" %}
</head>
<body>
	{% block topbar %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="brand" href="{{ path('front_project', {'project': project}) }}">
						<img src="{{ asset('bundles/plantnetdata/images/plantnet.png') }}" alt="Pl@ntNet - Publish" />
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							{% if current is not defined %}
								{% set current = '#' %}
							{% endif %}
							<li{% if current == 'project' %} class="active" {% endif %}>
								<a href="{{ path('front_project', {'project': project}) }}">
									{{ "tab-home"|trans|capitalize }}
								</a>
							</li>
							<li class="dropdown{% if current == 'collection' %} active {% endif %}">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ "tab-coll"|trans|capitalize }} <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									{% render controller("PlantnetDataBundle:Frontend\\Data:collection_list", {'project': project}) %}
								</ul>
							</li>
						</ul>
					</div>
					{% if translations is defined and translations|length > 0 %}
						<div class="pull-right">
							<ul class="nav">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										{% for translation in translations if translation.active == 1 %}
											{{ translation.language|capitalize }}
										{% endfor %}
										<span class="caret"></span>
									</a>
									<ul id="i18n_links" class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul>
								</li>
							</ul>
						</div>
					{% endif %}
					<form class="navbar-form form-search pull-right" method="get" action="{{ path('front_search', {'project': project}) }}">
						<div class="input-append">
							<input type="text" name="q" class="input-medium search-query" placeholder="{{ "search-field"|trans|capitalize }}" />
							<button type="submit" class="btn"><i class="icon-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}
	<div class="container">
		<div class="content">
			{% if config.filepath %}
				<div id="banner"{% if current != 'project' %} class="mini"{% endif %}>
			{% endif %}
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>
			{% if config.filepath %}
				</div>
			{% endif %}
			<div class="row">
				<div class="span12">
					{% block breadcrumb %}{% endblock %}
					{% block row %}
						<div class="row">
							<div class="span3">
								{% block side %}{% endblock %}
							</div>
							<div class="span9" id="data-load">
								{% block main %}{% endblock %}
							</div>
						</div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			{% block footer %}
				<ul>
					<li class="logofoot">
						<a href="http://www.plantnet-project.org" target="_blank">
							<img src="{{ asset('bundles/plantnetdata/images/footPlantnet.png') }}" alt="Projet Plantnet"></a>
					</li>
					<li class="logofoot">
						<a href="http://www.agropolis-fondation.fr/" target="_blank">
							<img src="{{ asset('bundles/plantnetdata/images/footAF.png') }}" alt="Agropolis Fondation"></a>
					</li>
				</ul>
				<nav id="mention">
					<ul>
						<li class="liens">
							<a href="{{ path('front_credits', {'project': project}) }}" class="btn btn-small">
								{{ "footer-credits"|trans|capitalize }}
							</a>
						</li>
						<li class="liens">
							<a href="{{ path('front_mentions', {'project': project}) }}" class="btn btn-small">
								{{ "footer-legal"|trans|capitalize }}
							</a>
						</li>
						<li class="liens">
							<a href="{{ path('front_contacts', {'project': project}) }}" class="btn btn-small">
								{{ "footer-contacts"|trans|capitalize }}
							</a>
						</li>
						<li class="liens">
							<a href="{{ path('front_sitemap', {'project': project}) }}" class="btn btn-small">
								{{ "footer-sitemap"|trans|capitalize }}
							</a>
						</li>
						<li class="liens">
							<a href="{{ path('front_index') }}" class="btn btn-small">
								Publish
							</a>
						</li>
					</ul>
				</nav>
			{% endblock %}
		</div>
	</footer>
	{% include "PlantnetDataBundle:Share:sharebuttons.html.twig" %}
	{% block javascripts %}
		{% javascripts
			'bundles/plantnetdata/js/jquery-1.7.min.js'
			'bundles/plantnetdata/bootstrap/js/bootstrap.min.js'
			'bundles/plantnetdata/js/spin.min.js'
			filter='?yui_js' output="js/publish.js" debug=false %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				cache: false
			});
			function ajaxLoader(){
				var opts={
					lines:10,
					length:3,
					width:2,
					radius:5,
					color:'#333333',
					speed:1.2,
					trail:50,
					shadow:false
				};
				var target=$('#page-loading')[0];
				var spinner=new Spinner(opts).spin(target);
			}
			$(document).ready(function(){
				var links=[];
				{% for translation in translations if translation.active == 0 %}
					links.push({
						link:'{{ translation.link }}',
						label:'{{ translation.language|capitalize }}'
					});
				{% endfor %}
				if(links.length>0){
					var max=links.length;
					$('#i18n_links').prepend('<li class="i18n_load"><span></span></li>');
					for(var i=0;i<links.length;i++){
						var item=links[i];
						test_i18n(item,i,max);
					}
				}
				function test_i18n(item,current,max)
				{
					$.get(item.link).done(function(){
						$('#i18n_links').append('<li><a href="'+item.link+'" class="i18n_link">'+item.label+'</a></li>');
					});
					if(current==max-1){
						$('.i18n_load').remove();
					}
				}
				if($('span.glossary_term').length>0){
					$('span.glossary_term').mouseenter(function(){
						var item=$(this);
						var item_content=item.data('content');
						var term=item.data('term');
						if(item_content=='0'){
							var coll_id=item.data('parent');
							var link='{{ path('front_glossary_query_path', {'project': project, 'collection': 'z~7'}) }}';
							item.popover({
								placement:'bottom',
								trigger:'hover',
								html:true,
								title:'<strong>'+term+'</strong>',
								content:'<span class="glossary_loader"></span>'
							});
							item.popover('show');
							$.getJSON(link.replace('z~7',coll_id)+'/'+term,function(data){
								var data_definition=data.definition;
								var data_path=data.path;
								var data_dir=data.dir;
								if(data_path!=''&&data_dir!=''){
									data_content='<div class="media"><a href="#" class="pull-left"><img class="media-object" width="100" src="/media/cache/thumb_max_width_100/uploads/'+data_dir+'/'+data_path+'" / ></a><div class="media-body">'+data_definition+'</div></div>';
								}
								else{
									data_content=data_definition;
								}
								item.next('div.popover').children('div.popover-content').first().html('<div class="glossary_loaded">'+data_content+'</div>');
								item.data('content',data_content);
							});
						}
						else{
							item.popover('destroy');
							item.popover({
								placement:'bottom',
								trigger:'hover',
								html:true,
								title:'<strong>'+term+'</strong>',
								content:'<div class="glossary_loaded">'+item_content+'</div>'
							});
							item.popover('show');
						}
					});
				}
			});
		</script>
	{% endblock %}
</body>
</html>