{% extends "PlantnetDataBundle::layout.html.twig" %}


{% block stylesheets %}
        {{ parent() }}
        
{% endblock %}

{% block body %}
<h1>Module creation</h1>

<form id="add_module" action="{{ path('import_module') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name)       }}
    {{ form_row(form.type)       }}
    {{ form_row(form.collection)       }}
    {{ form_row(form.attachment) }}

    <p>
        <button type="submit">Import Structure</button><div class="loading"></div>
    </p>
    
</form>




<div id="properties">
    {% include 'PlantnetBotaBundle:Modules:importmod.html.twig' with {'properties' : properties, 'form' : form } %}
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('modules') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
{% block javascripts %}
             {{ parent() }}
<script>
$(".loading").hide();

$("#add_module").submit(function(){
    $(".loading").show();
    var attachment = $('#modules_attachment').val();
    var name = $('#modules_name').val();
    var type = $('#modules_type').val();
    var collection = $('#modules_collection').val();
        $(".loading").show();
        var DATA = 'attachment=' + attachment.replace(/C:\\fakepath\\/i, '') +"&name="+ name+"&type="+ type+"&collection="+ collection;
        $.ajax({
            type: "POST",
            url: "{{ path('import_module') }}",
            data: DATA,
            cache: false,
            success: function(data){
                $('#properties').html(data);
                 $(".loading").hide();

            }
        });

    return false;
});
</script>

<script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/jquery.html5uploader.min.js') }}"></script>
<script type="text/javascript">
$(function() {
	$("#modules_attachment").html5Uploader({
		name: 'foo',
		postUrl: "{{ asset('bundles/plantnetdata/js/upload.php') }}"

	});
});
</script>

{% endblock %}