{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Module: {{ module.name }}</em> > Properties configuration
        </h4>
    </div>
    <form action="{{ path('save_fields', { 'id': collection.id, 'idmodule': module.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="field-form">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div >
        {% if app.session.hasFlash('error') %}
            <div id="flashmessage" class="flash-error">
                <p class="text-error">
                    {{ app.session.flash('error') }}
                </p>
            </div>
        {% endif %}
        <table id="table-form" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th class="middle">Field</th>
                    <th class="middle">Type</th>
                    {% if module.type == 'text' %}
                        <th colspan="3" class="middle">Display</th>
                    {% elseif module.type == 'other' or module.type == 'image' %}
                        <th colspan="1" class="middle">Display</th>
                    {% endif %}
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    {% if module.type == 'text' %}
                        <th class="middle">Main</th>
                        <th class="middle">Details</th>
                        <th class="middle">Search</th>
                    {% elseif module.type == 'other' or module.type == 'image' %}
                        <th class="middle">-</th>
                    {% endif %}
                <tr>
            </thead>
            <tbody>
                {% for property in form.properties %}
                    <tr>
                        <td>
                            {{ form_errors(property.name) }}
                            {{ form_widget(property.name) }}
                        </td>
                        <td class="middle">
                            {{ form_errors(property.type) }}
                            {{ form_widget(property.type) }}
                        </td>
                        {% if module.type == 'text' %}
                            <td class="middle">
                                {{ form_errors(property.main) }}
                                {{ form_widget(property.main) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                        {% elseif module.type == 'other' or module.type == 'image' %}
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form_rest(form) }}
        <br />
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}