{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form"><em>Module: {{ module.name }}</em> > Properties configuration</div>
    <form action="{{ path('save_fields', { 'id': collection.id, 'idmodule': module.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="field-form">
            {{ form_label(form.name) }}
            <br>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div >
        {% if app.session.hasFlash('error') %}
            <div id="flashmessage" class="flash-error">
                {{ app.session.flash('error') }}
            </div>
        {% endif %}
        <table id="table-form">
            <thead>
                <tr>
                    <td>Field</td>
                    <td>Type</td>
                    {% if module.type == 'text' %}
                        <td colspan="3">Display</td>
                    {% elseif module.type == 'other' %}
                        <td colspan="1">Display</td>
                    {% endif %}
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    {% if module.type == 'text' %}
                        <td>Main-</td>
                        <td>Details-</td>
                        <td>Search</td>
                    {% elseif module.type == 'other' %}
                        <td>-</td>
                    {% endif %}
                <tr>
            </thead>
            <tbody>
                {% for property in form.properties %}
                    <tr>
                        <td>
                            {{ form_errors(property.name) }}
                            {{ form_widget(property.name) }}
                        </td>
                        <td>
                            {{ form_errors(property.type) }}
                            {{ form_widget(property.type) }}
                        </td>
                        {% if module.type == 'text' %}
                            <td>
                                {{ form_errors(property.main) }}
                                {{ form_widget(property.main) }}
                            </td>
                            <td>
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td>
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                        {% elseif module.type == 'other' %}
                            <td>
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form_rest(form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}