{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Module: {{ module.name }}</em> > Properties configuration
        </h4>
    </div>
    <p>
        "Title" types will be used to characterize data (page title, image titles, locations, ...).
        <br />
        "Title 3" is not required.
        <br />
        Warning, "Type" column will not be available for update.
        <br />
        "Sort order" allows to set the sort order that will be applied for data display. To sort first on the colum "X" and secondly on the colum "Y", you must specify "X" : 1 and "Y" : 2.
    </p>
    <form action="{{ path('save_fields', { 'id': collection.id, 'idmodule': module.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="field-form">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {% for flashmessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                <p class="text-error">
                    {{ flashmessage }}
                </p>
            </div>
        {% endfor %}
        <table id="table-form" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th class="middle">Field</th>
                    <th class="middle">Type</th>
                    {% if module.type == 'text' %}
                        <th colspan="3" class="middle">Display</th>
                    {% elseif module.type != 'locality' and module.type != 'image' %}
                        <th colspan="2" class="middle">Display</th>
                    {% else %}
                        <th colspan="1" class="middle">Display</th>
                    {% endif %}
                    {% if module.type != 'locality' and module.type != 'image' %}
                        <th class="middle">Sort order</th>
                    {% endif %}
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    {% if module.type == 'text' %}
                        <th class="middle">Main</th>
                        <th class="middle">Details</th>
                        <th class="middle">Search</th>
                    {% elseif module.type != 'locality' and module.type != 'image' %}
                        <th class="middle">Details</th>
                        <th class="middle">Search</th>
                    {% else %}
                        <th class="middle">-</th>
                    {% endif %}
                    {% if module.type != 'locality' and module.type != 'image' %}
                        <th></th>
                    {% endif %}
                <tr>
            </thead>
            <tbody>
                {% for property in form.properties %}
                    <tr>
                        <td>
                            {{ form_errors(property.name) }}
                            {{ form_widget(property.name) }}
                        </td>
                        <td class="middle">
                            {{ form_errors(property.type) }}
                            {{ form_widget(property.type) }}
                        </td>
                        {% if module.type == 'text' %}
                            <td class="middle">
                                {{ form_errors(property.main) }}
                                {{ form_widget(property.main) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                        {% elseif module.type != 'locality' and module.type != 'image' %}
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                        {% else %}
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                        {% endif %}
                        {% if module.type != 'locality' and module.type != 'image' %}
                            <td class="middle">
                                {{ form_errors(property.sortorder) }}
                                {{ form_widget(property.sortorder, {'attr': {'class': 'span1'}}) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form_rest(form) }}
        <br />
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}