{% extends "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
	<div id="title-form">
		<h4 class="text-info">
			<em>Module: {{ module.name }}</em> > Import data
		</h4>
	</div>
	<form id="import_data" action="{{ path('import_data', { 'id': collection.id, 'idmodule': module.id }) }}" method="post" {{ form_enctype(form) }}>
		<button id="import-button" type="submit" class="btn">Import data<div class="loading"></div></button>
	</form>
	<div id="data">
		{% include 'PlantnetDataBundle:Backend\\Modules:import_moduledata.html.twig' with {'importCount' : importCount } %}
	</div>
	<table class="table table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<td>Field</td>
				<td>Type</td>
			</tr>
		</thead>
		<tbody>
			{% for property in module.properties %}
				<tr>
					<td>{{ property.name }}</td>
					<td>{{ property.type }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('a.ajax').die('click');
			window.onbeforeunload=function(e){
				var e=e||window.event;
				var msg='Some data are not saved. Leave this page without saving ?';
				if(e){
					e.returnValue=msg;
				}
				return msg;
			};
			$(".loading").hide();
			$("#import_data").submit(function(){
				$(".loading").show();
				$('#import-button').attr("disabled",true);
				var module = $('#modules_name').val();
				$(".loading").show();
				var DATA = 'module=' + module;
				$.ajax({
					type: "POST",
					url: "{{ path('importation', { 'id': collection.id, 'idmodule': module.id }) }}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#data').html(data+' <a href="{{ path('admin_index') }}" class="btn btn-small">OK</a>');
						$(".loading").hide();
						window.onbeforeunload=null;
					}
				});
				return false;
			});
		});
	</script>
{% endblock %}