{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Module: {{ module.name }}</em> > Update data
        </h4>
    </div>
    {% for flashmessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            <p class="text-error">
                {{ flashmessage }}
            </p>
        </div>
    {% endfor %}
    {% if is_over is defined and is_over == false %}
        {% if module.type == 'text' %}
            <p>
                After updating data, taxonomy is deleted.
                <br />
                You must run manually these tasks (taxonomy, synonymy, taxa description).
            </p>
        {% elseif module.type == 'image' or module.type == 'imageurl'%}
            <p>
                After updating data, taxonomy is deleted.
                <br />
                You must run manually these tasks (taxonomy, synonymy, taxa description).
            </p>
            <p>
                After updating data from an image module, don't forget to upload new images.
            </p>
        {% elseif module.type == 'locality' %}
            <p>
                After updating data, taxonomy is deleted.
                <br />
                You must run manually these tasks (taxonomy, synonymy, taxa description).
            </p>
        {% endif %}
        {% set updating = false %}
        {% if module.updating == true %}
            {% set updating = true %}
        {% endif %}
        {% if module.parent is defined and module.parent is not null and module.parent.updating == true %}
            {% set updating = true %}
        {% endif %}
        {% for child in module.children %}
            {% if child.updating == true %}
                {% set updating = true %}
            {% endif %}
        {% endfor %}
        {% if updating == false %}
            <p>
                <strong>Module description:</strong>
            </p>
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <td>Module name</td>
                    <td>{{ module.name }}</td>
                </tr>
                <tr>
                    <td>Number of data</td>
                    <td>{{ module.nbrows }}</td>
                </tr>
                {% if module.type == 'text' %}
                    <tr>
                        <td>Taxonomy</td>
                        <td>{% if module.taxonomy == true %}Enabled{% else %}Disabled{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% if module.children|length >= 2 %}Children{% else %}Child{% endif %}</td>
                        <td>
                            {% for child in module.children if child.deleting != true %}
                                {{ child.name }}<br />
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Parent</td>
                        <td>{{ module.parent.name }}</td>
                    </tr>
                {% endif %}
            </table>
            <p>
                <strong>Current module configuration:</strong>
            </p>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Name</th>
                        <th>Type</th>
                        {% if module.type == 'text' %}
                            <th>Main</th>
                        {% endif %}
                        <th>Details</th>
                        {% if module.type == 'text' or module.type == 'other' %}
                            <th>Search</th>
                        {% endif %}
                        {% if module.type == 'other' %}
                            <td>Highlight</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for prop in module.properties %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ prop.name }}</td>
                            <td>{{ prop.type }}</td>
                            {% if module.type == 'text' %}
                                <td>{% if prop.main == true %}<i class="icon-ok"></i>{% endif %}</td>
                            {% endif %}
                            <td>{% if prop.details == true %}<i class="icon-ok"></i>{% endif %}</td>
                            {% if module.type == 'text' or module.type == 'other' %}
                                <td>{% if prop.search == true %}<i class="icon-ok"></i>{% endif %}</td>
                            {% endif %}
                            {% if module.type == 'other' %}
                                <td>{% if prop.vernacular == true %}<i class="icon-ok"></i>{% endif %}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ path('module_update_data', { 'id': module.id }) }}" method="post" {{ form_enctype(form) }}>
                <span class="label label-danger">{{ form_errors(form) }}</span>
                <div class="field-form">
                    {{ form_label(form.file, 'CSV data') }}
                    <span class="label label-danger">{{ form_errors(form.file) }}</span>
                    {{ form_widget(form.file) }}
                </div>
                {{ form_rest(form) }}
                <br />
                <button type="submit" class="btn">Import data</button>
            </form>
        {% else %}
            <p class="text-warning">
                There is a work in progress, update action is disabled for a few minutes.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            ;
        });
    </script>
{% endblock %}