{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Module: {{ entity.name }}</em> > Properties configuration
        </h4>
    </div>
    {% if entity.type == 'text' %}
        <p>
            If you choose to enable the taxonomic browser, you will need to enter applying rules in the module's options.
            <br />
            "Sort order" allows to set the sort order that will be applied for data display. To sort first on the colum "X" and secondly on the colum "Y", you must specify "X" : 1 and "Y" : 2.
        </p>
    {% elseif entity.type == 'other' %}
        <p>
            "Sort order" allows to set the sort order that will be applied for data display. To sort first on the colum "X" and secondly on the colum "Y", you must specify "X" : 1 and "Y" : 2.
        </p>
    {% endif %}
    <p>
        URL field represents the value which is used in the URL to access this resource.
        <br />
        It is recomended to not update this value: it could broken some external links to the resource.
    </p>
    {% if entity.type == 'other' %}
        <p>
            "Highlight" field allows to put some data in the top of the details page.
        </p>
    {% endif %}
    <form action="{{ path('module_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        <div class="field-form">
            {{ form_label(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
        </div>
        <div class="field-form">
            {{ form_label(edit_form.url) }}
            {{ form_errors(edit_form.url) }}
            {{ form_widget(edit_form.url) }}
        </div>
        {% if entity.type == 'text' %}
            <div class="field-form">
                {{ form_label(edit_form.taxonomy, 'Enable taxonomic browser', {'label_attr': {'class': 'inline'}}) }}
                {{ form_errors(edit_form.taxonomy) }}
                {{ form_widget(edit_form.taxonomy) }}
            </div>
            <div class="field-form">
                {{ form_label(edit_form.description) }}
                {{ form_errors(edit_form.description) }}
                {{ form_widget(edit_form.description, { 'attr': {'class': 'textarea'} }) }}
            </div>
        {% endif %}
        <br />
        <table id="table-form" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th class="middle">Field</th>
                    <th style="display:none;">Type</th>
                    {% if entity.type == 'text' %}
                        <th colspan="3" class="middle">Display</th>
                    {% elseif entity.type != 'locality' and entity.type != 'image' %}
                        <th colspan="3" class="middle">Display</th>
                    {% else %}
                        <th colspan="1" class="middle">Display</th>
                    {% endif %}
                    {% if entity.type != 'locality' and entity.type != 'image' %}
                        <th class="middle">Sort order</th>
                    {% endif %}
                </tr>
                <tr>
                    <th></th>
                    <th style="display:none;"></th>
                    {% if entity.type == 'text' %}
                        <th class="middle">Main</th>
                        <th class="middle">Details</th>
                        <th class="middle">Search</th>
                    {% elseif entity.type != 'locality' and entity.type != 'image' %}
                        <th class="middle">Details</th>
                        <th class="middle">Search</th>
                        <th class="middle">Highlight</th>
                    {% else %}
                        <th class="middle">-</th>
                    {% endif %}
                    {% if entity.type != 'locality' and entity.type != 'image' %}
                        <th></th>
                    {% endif %}
                <tr>
            </thead>
            <tbody>
                {% for property in edit_form.properties %}
                    <tr>
                        <td>
                            {{ form_errors(property.name) }}
                            {{ form_widget(property.name) }}
                        </td>
                        <td style="display:none;">
                            {{ form_errors(property.type) }}
                            {{ form_widget(property.type) }}
                        </td>
                        {% if entity.type == 'text' %}
                            <td class="middle">
                                {{ form_errors(property.main) }}
                                {{ form_widget(property.main) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                        {% elseif entity.type != 'locality' and entity.type != 'image' %}
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.search) }}
                                {{ form_widget(property.search) }}
                            </td>
                            <td class="middle">
                                {{ form_errors(property.vernacular) }}
                                {{ form_widget(property.vernacular) }}
                            </td>
                        {% else %}
                            <td class="middle">
                                {{ form_errors(property.details) }}
                                {{ form_widget(property.details) }}
                            </td>
                        {% endif %}
                        {% if entity.type != 'locality' and entity.type != 'image' %}
                            <td class="middle">
                                {{ form_errors(property.sortorder) }}
                                {{ form_widget(property.sortorder, {'attr': {'class': 'span1'}}) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form_rest(edit_form) }}
        <br />
        <button type="submit" class="btn">Update</button>
    </form>
    {% set updating = false %}
    {% if entity.updating == true %}
        {% set updating = true %}
    {% endif %}
    {% if module.parent is defined and module.parent is not null and module.parent.updating == true %}
        {% set updating = true %}
    {% endif %}
    {% for child in entity.children %}
        {% if child.updating == true %}
            {% set updating = true %}
        {% endif %}
    {% endfor %}
    {% if updating == false %}
        <form id="form-delete" action="{{ path('module_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button id="btn-delete-1" type="submit" class="btn"><i class="icon-trash"></i> Delete</button>
        </form>
        <div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove-sign"></i>
                </button>
                <h3 id="myModalLabel">Delete ?</h3>
            </div>
            <div class="modal-body">
                <p class="text-error">
                    <i class="icon-warning-sign"></i> Delete this entity and its associated data ?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
                <button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
            </div>
        </div>
    {% else %}
        <p class="text-warning">
            There is a work in progress, delete action is disabled.
        </p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btn-delete-1').click(function(event){
                event.preventDefault();
                $('#modal-delete').modal();
                return false;
            });
            $('#btn-delete-2').click(function(){
                $('#form-delete').submit();
            });
            {% include "PlantnetDataBundle:Backend\\WYSIWYG:cleditor.html.twig" %}
        });
    </script>
{% endblock %}