{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block form %}
    <div id="title-form">
        <h4 class="text-info">
            <em>Module: {{ entity.name }}</em> > Taxonomy configuration
        </h4>
    </div>
    {% set updating = false %}
    {% if entity.updating == true %}
        {% set updating = true %}
    {% endif %}
    {% for child in entity.children %}
        {% if child.updating == true %}
            {% set updating = true %}
        {% endif %}
    {% endfor %}
    {% if updating == true %}
        <p class="text-warning">
            There is a work in progress, taxonomy configuration is disabled few minutes.
        </p>
    {% else %}
        <p>
            Choose a level and a label (example: 1 Family, 2 Genus, 3 Species).
        </p>
        <form action="{{ path('module_update_taxo', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_errors(edit_form) }}
            {% if entity.type == 'text' %}
                <table id="table-form" class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="middle">Field</th>
                            <th class="middle">Taxon level</th>
                            <th class="middle">Taxon label</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in edit_form.properties %}
                            <tr>
                                <td>
                                    {{ property.vars.value }}
                                </td>
                                <td class="middle">
                                    {{ form_errors(property.taxolevel) }}
                                    {{ form_widget(property.taxolevel, {'attr': {'class': 'span1'}}) }}
                                </td>
                                <td class="middle">
                                    {{ form_errors(property.taxolabel) }}
                                    {{ form_widget(property.taxolabel) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {{ form_rest(edit_form) }}
            <button type="submit" class="btn">Update</button>
        </form>
        <p>
            Synonymy file must contain two columns by taxonomic level.
            <br />
            One for the existing taxons with current taxon's label at the top (Ex: "Family").
            <br />
            An other for the valid taxons with current taxon's label plus "_valid" at the top (Ex: "Family_valid").
            <br />
            <br />
            Example:
        </p>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Family</th>
                <th>Species</th>
                <th>Family_valid</th>
                <th>Species_valid</th>
            </tr>
            <tr>
                <td>Family 1</td>
                <td></td>
                <td>Family 2</td>
                <td></td>
            </tr>
            <tr>
                <td>Family 3</td>
                <td>Species 1</td>
                <td>Family 3</td>
                <td>Species 2</td>
            </tr>
        </table>
        {% if nb_taxons > 0 %}
            <a href="{{ path('module_syn', { 'id': entity.id }) }}" class="btn">Add or update synonymy</a>
        {% else %}
            <a href="#" class="btn disabled">Add or update synonymy</a>
        {% endif %}
        {% if delete_syn_form != false %}
            <br />
            <br />
            <form id="form-delete" action="{{ path('module_syn_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_syn_form) }}
                <button id="btn-delete-1" type="submit" class="btn"><i class="icon-trash"></i> Delete synonymy</button>
            </form>
            <div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove-sign"></i>
                    </button>
                    <h3 id="myModalLabel">Delete ?</h3>
                </div>
                <div class="modal-body">
                    <p class="text-error">
                        <i class="icon-warning-sign"></i> Delete synonymy ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn" id="btn-delete-2"><i class="icon-trash"></i> Yes</button>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btn-delete-1').click(function(event){
                event.preventDefault();
                $('#modal-delete').modal();
                return false;
            });
            $('#btn-delete-2').click(function(){
                $('#form-delete').submit();
            });
            if($('a.btn.disabled').length>0){
                $('a.btn.disabled').click(function(e){
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}