{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Backend:ajax_form_layout.html.twig" : "PlantnetDataBundle:Backend:form_layout.html.twig" %}
{% block form %}
    <div id="title-form"><em>Collection: {{ collection.name }}</em> > New Module</div>
    <form id="add_module" action="{{ path('module_create', { 'id': collection.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="field-form">
            {{ form_label(form.name) }}
            <br>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div >
        <div class="field-form">
            {{ form_label(form.type) }}
            <br>
            {{ form_errors(form.type) }}
            {{ form_widget(form.type, { 'separator': '=====' }) }}
        </div>
        {#<div class="field-form">
        {{ form_label(form.parent) }}<br>
        {{ form_errors(form.parent) }}
        {{ form_widget(form.parent) }}
        </div>#}
        <div class="field-form">
            {{ form_label(form.file, 'CSV data') }}
            <br>
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
        </div>
        {{ form_rest(form) }}
        <p>
            <button type="submit">Import Structure</button>
        </p>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}