{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title plantunit.title1 ~ ' - ' ~ plantunit.title2 %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/plantnetdata/js/iviewer-master/jquery.iviewer.css') }}" type="text/css" />
    {% if plantunit.locations|length > 0 %}
        {% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
    {% endif %}
{% endblock %}
{% block header %}<h1>{{ plantunit.title1 }}</h1>{% endblock %}
{% block breadcrumb %}
     <ul class="breadcrumb">
        <li>
            <a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">{{ collection.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('_module', { 'project': project, 'collection': collection.name, 'module': module.name }) }}">{{ module.name|capitalize }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ plantunit.title1 }} - {{ plantunit.title2 }}
            <span class="divider">></span>
            {{ "line-details"|trans }}
        </li>
     </ul>
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module } %}
{% endblock %}
{% block main %}
    <section id="details">
        <table class="table table-striped table-bordered table-hover">
            {% for field in display %}
                {% if plantunit.attributes[field] %}
                    <tr class= "">
                        <td class="field-name">{{ field|capitalize }}</td>
                        <td class="field-value">{{ plantunit.attributes[field] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% if plantunit.images|length > 0 %}
            <div class="gallery">
                <ul class="thumbnails per3">
                    {% for image in plantunit.images %}
                        {% set imgspe = image.path|basename %}
                        {% set img = ['uploads/'~image.module.uploaddir~'/', imgspe]|join('') %}
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="{{ asset(img) }}" class="grouped_elements thumbn" rel="group">
                                    <img src="{{ asset(img) | imagine_filter('thumb_180_120') }}" class="img-polaroid" alt="<strong>{{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}</strong><br />{{ image.copyright }}" />
                                </a>
                                <h5>
                                    {{ image.plantunit.title1 }} - {{ image.plantunit.title2 }}
                                </h5>
                                {% if image.copyright is not empty %}
                                    <p>
                                        {{ image.copyright }}
                                    </p>
                                {% endif %}
                                <div class="access">
                                    <a class="html-box" href="#data_{{ image.id }}">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                    <div style="display:none">
                                        <div id="data_{{ image.id }}" data-src="{{ asset(img) }}">
                                            <div id="v_data_{{ image.id }}" class="viewer"></div>
                                            <div class="control-panel">
                                                <div class="btn-group">
                                                    <a id="v_data_{{ image.id }}_in" href="#" class="btn">
                                                        <i class="icon-plus-sign"></i>
                                                    </a>
                                                    <a id="v_data_{{ image.id }}_out" href="#" class="btn">
                                                        <i class="icon-minus-sign"></i>
                                                    </a>
                                                    <a id="v_data_{{ image.id }}_orig" href="#" class="btn">
                                                        <i class="icon-refresh"></i>
                                                    </a>
                                                    <a id="v_data_{{ image.id }}_fit" href="#" class="btn">
                                                        <i class="icon-fullscreen"></i>
                                                    </a>
                                                    <a id="v_data_{{ image.id }}_right" href="#" class="btn">
                                                        <i class="icon-retweet"></i>
                                                    </a>
                                                </div>
                                                <div class="input-append">
                                                    <input type="text" id="v_data_{{ image.id }}_percent" value="100" class="input-mini uneditable-input" readonly="readonly" />
                                                    <span class="add-on"><strong>%</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if plantunit.locations|length > 0 %}
            <div>
                {# LEAFLET MAP #}
                <div id="map"></div>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/fancybox/jquery.easing-1.3.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plantnetdata/js/iviewer-master/jquery.iviewer.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /* Apply fancybox to multiple items */
            $('a.grouped_elements').fancybox({
                'transitionIn':'elastic',
                'transitionOut':'elastic',
                'speedIn':200,
                'speedOut':200,
                'enableEscapeButton':true,
                'hideOnContentClick':true,
                'titlePosition':'inside',
                'overlayShow':true,
                'titleFromAlt':true
            });
            $('a.html-box').fancybox({
                onComplete:function(){
                    var id=$(this).attr('href');
                    var img_src=$(id).attr('data-src');
                    id=id.replace('#','v_');
                    var iv=$('#'+id).iviewer({
                        src:img_src,
                        ui_disabled:true,
                        zoom:'fit',
                        zoom_min:25,
                        zoom_max:1000,
                        onAfterZoom:function(ev,new_zoom){
                            $('#'+id+'_percent').val(Math.round(new_zoom));
                        }
                    });
                    $('#'+id+'_in').click(function(event){
                        event.preventDefault();
                        iv.iviewer('zoom_by',1);
                    });
                    $('#'+id+'_out').click(function(event){
                        event.preventDefault();
                        iv.iviewer('zoom_by',-1);
                    });
                    $('#'+id+'_orig').click(function(event){
                        event.preventDefault();
                        iv.iviewer('set_zoom',100);
                    });
                    $('#'+id+'_fit').click(function(event){
                        event.preventDefault();
                        iv.iviewer('fit');
                    });
                    $('#'+id+'_right').click(function(event){
                        event.preventDefault();
                        iv.iviewer('angle',90,false);
                    });
                }
            });
            $('.gallery img').addClass('blind');
            $('.gallery img').one('load',function(){
                var img=$(this);
                img.fadeTo(200,1);
            }).each(function(){
                if(this.complete)
                {
                    $(this).load();
                }
            });
        });
    </script>
    {% if plantunit.locations|length > 0 %}
        {% set locations = plantunit.locations %}
        {% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
    {% endif %}
{% endblock %}